<h1>ディフィカルティー</h1>
<p>次に、ヘッダーのDifficulty Targetについて説明します。</p>
<ul>
  <li>Version: ビットコインのバージョン</li>
  <li>Prev Block Hash: 前のブロックのハッシュ値</li>
  <li><b>Merkle Root</b>: トランザクションの要約情報</li>
  <li>Timestamp: ブロックの生成時刻</li>
  <li><b>Difficulty Target</b>: マイニングの難易度を示す値</li>
  <li><b>Nonce(ナンス)</b>: マイニングによって得られた値</li>
</ul>
<p>ディフィカルティーターゲットとは、マイニングの難易度を表す数値です。</p>
<p>ハッシュ値とはランダムな文字列で表記されますが、実態は1616進数で表記された256bitの数値です。</p>
<p>マイニングの難易度も同じように256bitの数字であり、生成されるハッシュ値がDifficultyより小さければマイニング成功となります。</p>
<p>桁の多いbit表現の値では感覚的にわかりずらいので、サイコロに例えてみましょう。</p>
<p>たとえば、サイコロの目が1 ~ 6に対してDifficulty 3だとすると、サイコロの目が3以下、つまり 3/6 で成功になります。</p>
<p>Difficultyが2だとすると、サイコロの目が2以下、つまり2/6で成功となります。</p>
<p>ハッシュ値の取りうる値は2の256乗の値がありうるので、難易度 / 2の256乗がハッシュ値の計算成功確率になります。</p>
<p>
  ここでDifficulty は16新数表記で 00000000000XD.....という32桁の形式であらわされるのですが、
  冒頭の0が一つ増える毎に値は1/16に、つまり確立が1/16になっていきます。
</p>




<p>マイニングという言葉はビットコインを獲得することを表現した言葉ですが、
  マイニングが果たす主要な役割はP2Pネットワークで分散化されたセキュリティーシステムを構築させることです</p>
<p>マイニングによって信頼できる中央組織が無しにネットワーク上の合意形成(コンセンサス)が達成できます。</p>
<p>ビットコインの報酬はマイニングに対するインセンティヴのメカニズムとして機能しています。</p>
<p>マイナーはマイニングによって、トランザクションとブロックの検証をしています。</p>
<p>多数の確認項目によってトランザクションやブロックを検証し、正しいデータのみをブロックチェーンに記載します</p>
<p>マイナーがブロックをブロックチェーンに記載するためには、非常に難易度の高い暗号アルゴリズムの計算を解かなければなりません。</p>
<p>計算をするには莫大な電気代のコストが必要となるため、コストに対する報酬としてビットコインが支払われます。</p>
<p>報酬には二種類の報酬があり、トランザクションに含まれる手数料の合計と、新たに生成される一定額のビットコインを獲得されます</p>
<p>ブロックチェーンに記載されたトランザクションは「確認」(confirmed)されたことになり、次の所有者が使用できるようになります。</p>
<p>このマイニングによってトランザクションがブロックチェーンに記載されるプロセスは、ネットワーク全体でおおよそ10分に一度成功するように自動で調整されています</p>






<p>Memo</p>

<h1>What is Mining</h1>
<p>マイニングという言葉はビットコインを獲得することを表現した言葉ですが、
  マイニングが果たす主要な役割はP2Pネットワークで分散化されたセキュリティーシステムを構築させることです</p>
<p>マイニングによって信頼できる中央組織が無しにネットワーク上の合意形成(コンセンサス)が達成できます。</p>
<p>ビットコインの報酬はマイニングに対するインセンティヴのメカニズムとして機能しています。</p>
<p>マイナーはマイニングによって、トランザクションとブロックの検証をしています。</p>
<p>多数の確認項目によってトランザクションやブロックを検証し、正しいデータのみをブロックチェーンに記載します</p>
<p>マイナーがブロックをブロックチェーンに記載するためには、非常に難易度の高い暗号アルゴリズムの計算を解かなければなりません。</p>
<p>計算をするには莫大な電気代のコストが必要となるため、コストに対する報酬としてビットコインが支払われます。</p>
<p>報酬には二種類の報酬があり、トランザクションに含まれる手数料の合計と、新たに生成される一定額のビットコインを獲得されます</p>
<p>ブロックチェーンに記載されたトランザクションは「確認」(confirmed)されたことになり、次の所有者が使用できるようになります。</p>
<p>このマイニングによってトランザクションがブロックチェーンに記載されるプロセスは、ネットワーク全体でおおよそ10分に一度成功するように自動で調整されています</p>

<p>The mining expresses that you can get bitcoin through the computing, but the primary purpose of mining
  is not to create bitcoin. Mining is the invention that makes bitcoin special, a decentralized security mechanism that
  is the basis for P2P digital cash.
</p>
<p>Mining secures the network and enables network-wide consensus without a central authenticity.
  Reward of bitcoin is the incentive mechanism for mining, by which decentralized security is archived.
</p>

<h2>What miners do</h2>
<p>Miners validate transactions and blocks and record then in the global ledger, blockchain.</p>
<p>A new block containing transactions that occurred since the last block is mined and recorded to the blockchain
  every ten minutes on average.</p>
<p>Transaction that become part of the block and recorded in the blockchain are considered confirmed,
  which allows new owner to spend the bitcoin they received in those transactions.
</p>

<h2>Two Types of rewards miners get.</h2>
<p>Miners get two types of rewards in return for the security provided by mining.</p>
<p>One is the transaction fee.</p>
<p>CoinBase transaction, which is a new generated bitcoin for each created new block.</p>
<p>To earn new bitcoin, Miners compete to solve difficult mathematical problem based on cryptographic hashing algorithm,
  which is called "proof of work". And the solution of this problem is
  included in the block as the proof that the block is expended on significant computing resource.
</p>
