<h1>リターゲティング</h1>
<p>このdifficultyは、ネットワーク全体で10分に1度マイニングが成功されるように自動調整されるようになっています。</p>
<p>
  直近の2016ブロック分のマイニングにかかった実際の時間と、理論値2016×10分を比較し、時間がかかりすぎていれば難易度を下げ、
  時間が早すぎれば難易度を上げます。
</p>
<p>
  現在のdifficutly は約 ''であり、通常のパソコンの計算速度でマイニングを成功させる確率は非常に低くなっています。
</p>


<h1>Retargeting of difficulty</h1>

<h1>per 10 minutes</h1>
<p>Bitcoin automatically adjust</p>
<p>hashing power, participant</p>
<p>Compare last 2016 block with theory time(2016 * 10 minutes)</p>
<P>new difficulty = old difficulty * real time / 20160 minutes</P>
<p>Limit of difficulty 4 times or quardaroup</p>
