<h1>候補ブロックの構築</h1>
<p>マイニングノードはマイニングをする準備として空のブロックを構築します。</p>
<p>このブロックを候補ブロックと呼び、マイナーはトランザクションプールから候補ブロックに一定バイト数まで
  トランザクションを追加していきます。</p>
<p>
  マイナー達は競って候補ブロックのプルーフ・オブ・ワークの解を探し、解をみつけると候補ブロックに見つけた解を含めてネットワークに伝播します。
</p>
<p>
  逆にマイナーが他のノードからブロックを受け取り、そのブロックが有効な場合はマイナーがマイニング競争に負けたことを意味します。
</p>
<p>
  そのため、候補ブロックを受けとるとすぐに新たな候補ブロックの構築を始めます。
</p>
<p>
  そして、トランザクションプールの中から、他のノードから受け取ったブロックに含まれたトランザクション、
  つまりすでにブロックチェーンに含まれたトランザクションを削除し、残ったトランザクションから候補ブロックを構築します。
</p>
<p>
  このようにしてまたマイニングの競争のプロセスを繰り返していきます。
</p>
