<h1>ブロックの構築-トランザクションの優先順位</h1>
<p>マイナーがトランザクションプールから候補ブロックへトランザクションを追加していくことを説明しましたが、追加するトランザクションの選択には優先順位があります。</p>
<p>ブロックのデータサイズには上限があるまで、上限値に達するまで優先順位に従ってトランザクションを選んでいきます。</p>
<p>その優先順位は以下の式で表されます。</p>
<code>Priority = Sum (value of input * Input Age)/ Transaction Size</code>
<p>Input Ageはトランザクションが生成されてからの時間を表します</p>
<p>Value of Inputはトランザクション手数料です</p>
<p>また、トランザクションの中には「優先度が高い(high priority)」トランザクションというものが存在しています。</p>,
<p>最初の50kbは優先度の高いトランザクションによって埋められます。
  そして、残りのバイト数は優先順に従ってブロックに含まれていきます。</p>
