<h1>ブロックの作成</h1>
<p>ブロックチェーンに埋め込むブロックはマイナーが生成します</p>
<p>ブロックはトランザクションを集めたものです。</p>
<p>マイナーはネットワークからトランザクションを受け取り、トランザクションプールと呼ばれるメモリ領域にトランザクションを貯めていきます。</p>
<p>トランザクションが集まると、マイナーが構築した新たな空のブロックにトランザクションを含めていきます。</p>
<p>このブロックは新たにブロックチェーンに含まれる候補となるブロックであり、候補ブロックと呼ばれます。</p>
<p>マイナーは候補ブロックのナンスの値を計算し、正解を探します。</p>
<p>マイナーはマイニングをしながらも、次のマイニングのためにトランザクションプールにトランザクションをためていきます。</p>
<p>マイナーが正解を見つけるまでにネットワーク上からブロックを受け取ると、ほかの候補ブロックがマイニングに勝利した事になります。</p>
<p>そうするとマイナーは、そのブロックに含まれているトランザクションをトランザクションプールから削除し、まだブロックに含まれていないトランザクションを集めて新たな空の候補ブロックに含め次のマイニングを開始します。</p>
<p>マイナーが正解を見つけると、ナンス値をブロックに埋め込み、ブロックチェーンにブロックを埋め込みます。</p>

<h1>The process of Transaction accumulation</h1>
<p>Get Transaction from another node</p>
<p>Put Transactions into transaction pool</p>
<p>construct to candidate block</p>
<p>Start Mining and accumulate transactions for next candidate block</p>
<p>If received new block, remove transactions in the block from transaction pool.</p>
<p>Accumulate transactions and make candidate block again</p>
<p>When Jim found the solution to proof of work, that block is validated</p>
