<h1>フォークの解消</h1>
<p>ここで、ブロックBを先に受け取ったマイナーが先にブロックCを生成したとしましょう。</p>
<p>するとブロックAを先に受け取ったマイナーは、セカンダリーチェンの先頭(BlockB)を参照しているブロックCをセカンダリーチェーンに接続します。</p>
<p>そして、メインのchainとセカンダリーchainを比較すると、もはやセカンダリーチェーンの方が長く(累積Difficultyが大きく)なります。</p>
<p>累積Difficultyが小さいブロックチェーンはネットワークによって破棄されるので、もはやブロックAを含んだのマイニングを継続するのは得策ではありません。</p>
<p>そのため、マイナーはブロックAをを含んだチェーンのマイニングをやめ、メインチェーンとセカンダリーチェンへ交換します。</p>
<p>このようにして、一時的に分岐したチェーンはより長いチェーンへと収束していくことになります。</p>
<p>この際、ブロックAはセカンダリーチェーンに含まれなかったことになるため、
  ブロックAのトランザクションは未確認のブロックへと戻り、再びトランザクションプールに保持されることになります。</p>
