<h1>51%攻撃ができること</h1>
<p>51%攻撃によってチェーンを書き換えることができることを説明しましたが、
  チェーンの内容が不正なものであればネットワークから拒否されるだけです。</p>
<p>そのため、ゼロからBTCを生成したり、他の人のビットコインを奪うようなこともできません。</p>
<p>
  また分岐させるチェーンをあまりにも古いブロックからフォークさせると、
  正規のブロックチェーンの長さに追いつくためには途方もない計算コストがかかってしまいます。
</p>
<p>
  51%攻撃では、直近のチェーンに影響を与えうるだけで、過去のチェーンにを変更するのは極めて困難です。
</p>
<p>逆に51%攻撃ででできることとして、二重支払いや、特定のアドレスのサービスの拒否などがあります。</p>
<p>二重支払いは一度支払ったトランザクションをキャンセルし、別の支払いに充てたチェーンを生成することによって可能となります。</p>
<p>サービスの拒否は、特定のアドレス充てのトランザクションを含むブロックがまいにんぐされた場合に、
  継続的にそのブロックとは別のフォークを作りだすことで可能となります。</p>
<p>現在、年々ハッシングパワーが高まっており、このような51%攻撃も実現が困難になっています。</p>
