<h1>Add Blocks To Block chain</h1>
<p>Block in the main chain</p>
<p>Block forked (secondary chain)</p>
<p>Orphan block</p>
<p>Invalid block is rejected and not here.</p>

<p>Largest Difficulty</p>
<p>Sibling block may be main block </p>

<p>receive</p>
<p>Check previous block hash</p>
<p>Find parent</p>
<p>If note found, orphan block</p>
<p>If block is on the secondary chain and difficulty is larger, reconverge: exchange main chain</p>
<p></p>

<p>Orphan block</p>
<p>Transaction orphan pool</p>
<p>When receives parent block, add parent block to block chain, and connect orphan block to block chain</p>
<p>This situation is when two blocks are mined at the same time and receives reversed order</p>
