<h1>ライフサイクル</h1>
<p>トランザクションを生成するために必要なのは、秘密鍵から生成される電子署名です。</p>
<p>電子署名によってビットコインの所有権を証明し、他のアドレスへビットコインを移転するトランザクションを生成します。</p>
<p>生成されたトランザクションは次に、ネットワーク上を伝播する必要があります。</p>
<p>接続されているビットコインノードにトランザクションの情報を送り、ノードはトランザクションの形式が正しいかを確認します。</p>
<p>トランザクションの検証ルールは検証ルールは電子署名が正しいかなど数十のチェック項目を確認し、問題なければトランザクションを受け入れます。</p>
<p>正しいトランザクションを受け入れたノードはさらに他のノードへとトランザクションを伝播します。</p>
<p>このプロセスにより、数秒でほぼ全てのノードにトランザクションが伝播することになります。</p>


<h1>トランザクションとは</h1>
<p>生成</p>
<p>伝播・承認</p>
<p>ブロックに追加</p>
<p>マイニング</p>
<p>ブロックチェーンに追加</p>
