<h1>トランザクションの伝播</h1>
<p>伝播したトランザクションが永続化されたデータになるには、マイニングのプロセスによってブロックチェーンに追加される必要があります。</p>
<p>マイナーはトランザクションを受け取ると、一旦トランザクションプールという一時的なデータベース(メモリ)にトランザクションを集めます。</p>
<p>マイナーは手数料などの基準によって優先順位をつけ、トランザクションプールからトランザクションを集めて一つのブロックを生成します。</p>
<p>これを候補ブロックといい、数多くのマイナーの候補ブロックのうち、マイニングに成功したマイナーの候補ブロックがブロックチェーンに追加されます。</p>
<p>伝播したトランザクションがマイナーによって候補ブロックに含まれ、そのマイナーのマイニングが成功することによってブロックチェーンに追記されます。</p>
<p>これによって、トランザクションはブロックチェーンに含まれ永続化されたデータとなります。</p>
<p>このブロックの後に更に別のブロックが追加されていき、ブロックが積み重なれば積みかななるほどトランザクションデータを改ざんすることは難しくなり、ブロックの数とともに信用を積み重ねていくことになります。</p>


<h1>トランザクションとは</h1>
<p>生成</p>
<p>伝播・承認</p>
<p>ブロックに追加</p>
<p>マイニング</p>
<p>ブロックチェーンに追加</p>
