<p>Symbol: element of {*}</p>
<p>alphabet: Σ subset of Symbol｛*｝: [a-zA-X] = Σ, [あいうおえおかき、、、、]: bit [01]</p>
<p>word over alphabet: concatenation of symbol over alphabet</p>
<p>empty word: 空語; 語の長さ</p>
<p>alphabet: subset of {*} </p>
<p>Σ*: star closure;</p>
<p>Σ+ = Σ* - {ε}: positive closure;</p>
<p>language over alphabet: any subset of Σ*  </p>
<p>identity element = ε (not affect operator)</p>

<p>automaton</p>
<p>オート万は形式言語を識別できる識別機械</p>
<p>形式文法は形式言語を生成できる生成機械</p>

<h2>four types of automaton</h2>
<ul>
  <li>有限オートマトン:</li>
  <li>プッシュダウンオートマン</li>
  <li>線形拘束オートマン</li>
  <li>チューリング機械</li>
</ul>
<h2>four types of generator</h2>
<ul>
  <li>正規文法 = 有限オート万</li>
  <li>文脈自由文法 = プッシュダウンオート万</li>
  <li>文脈依存文法 = 線形拘束オート万　</li>
  <li>句構造文法 = チューリング機械</li>
</ul>

<h3>オートマン理論</h3>
<p>study of recognition ability of recognizer</p>
<p>generators and recognizers are the same</p>
