<p>When you master some process, add another process to step up.</p>

<h1>文章を書くプロセス化</h1>
<p>ジャンル：技術情報</p>
<ol>
  <li>概要の理解</li>
  <li>要約</li>
  <li>情報の取捨選択</li>
  <li>(必要な)詳細の理解</li>
  <li>構造の決定</li>
  <li>
    文章化
    <ol>
      <li>ユーザーのニーズ・心理の理解・学ぶ理由</li>
      <li>導入</li>
      <li>記述</li>
      <li>つなぎ</li>
    </ol>
  </li>
</ol>


<p>ジャンル：エッセイ</p>
<ol>
  <li>伝えたい内容の整理</li>
  <li>伝えた結果どうなってほしいか</li>
  <li>伝えたい対象は誰か</li>
  <li>文章化</li>
</ol>

<ul>
  <li>何を伝えたいか</li>
  <li>どう伝えたいか</li>
  <li>伝えたい先にどういう価値を与えるか</li>
  <li>伝えた後にどういう反応があるか</li>
  <li>長期的に見てどういう価値を生むか</li>
</ul>


<p>文章の目的・効果は何か</p>

<p>アナリティクス</p>
<p>本当の需要を考える</p>
<p>伝えたい対象はだれか</p>
<ol>本当に入門が需要が高いのか？</ol>

<p>Think before upload</p>
<p>Make hyposethis</p>
<p>Difficult content may be searched many times</p>
<p>Easy Content may be searched once and cannot be original hit.</p>


<h2>問題点</h2>
<ul>
  <li>直ぐ評価されたい</li>
  <li>長いスパンで考える</li>
  <li>目標: 2年間で文章で注目を集められるようになる</li>
  <li>結果: 意見が通りやすくなる、仕事を得やすくるなる、人脈ができる</li>
  <li>必要なこと: コンテンツ自体の理解</li>
  <li>課題設定</li>
  <li>表現力</li>
</ul>

<ul>
  <li></li>
</ul>

<h2>どこに記載するか</h2>
<ul>
  <li>Qiita: reach しやすい　技術記事</li>
  <li>Wordpress</li>
  <li>自分作成のブログ</li>
</ul>

<div>
  <h1>自分について</h1>
  <p>書いた内容について評価されたい</p>
  <p>評価されるかどうかのフィードバックが必要</p>
  <p>大量に書く必要性</p>
  <h2>評価軸</h2>
  <ul>
    <li>重要性</li>
    <li>正確性</li>
    <li>有用度</li>
    <li>分かりやすさ</li>
    <li>共感</li>
    <li>キャッチーさ</li>
    <li>炎上</li>
    <li>労力</li>
    <li>精神</li>
  </ul>
  <h2>対象</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
