<header class="bg-melrose d-flex justify-content-between align-items-center p-20px sticky-top">
  <div class="text-downriver">
    <p>I want to this header open only when u slide to up Control View Width by Angular and media type</p>
    To Menu And Logo
  </div>
  <div class="text-downriver">
    Right Top
  </div>
</header>
<div class="d-flex">
  <div class="side-nav bg-wild-sand shadow">
    <app-navigation></app-navigation>
  </div>
  <div class="flex-grow-1 p-20px">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="bg-downriver p-20px">
  footer
</div>
