<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div>
        <h2>id</h2>
        <input class="w-100" formControlName="id"
               readonly style="border: none">
    </div>
    <div>
        <h2>MetaData</h2>
        <div class="d-flex">

        </div>
    </div>
    <div>
        <h1>Title</h1>
        <input class="w-100" placeholder="title" type="text" formControlName="title">
    </div>
    <div>
        <h2>Contents</h2>
        <textarea
                class="w-100 overflow-y-auto" rows="20"
                placeholder="contents" formControlName="content"></textarea>
    </div>
    <div>
        <h2>Show</h2>
        <input type="checkbox" placeholder="show" formControlName="show">
    </div>
    <app-src-input [src]="src"></app-src-input>
    <div>
        <button class="btn" type="submit">更新</button>
    </div>
    <div>
        <button class="btn" (click)="deleteClicked.emit()">削除</button>
    </div>
</form>
