<h1>ブロックとは</h1>
<p>ブロックとは、複数のトランザクションを一まとめにしたものです。</p>
<p>ブロックのデータ構造は、ブロックヘッダーというヘッダー情報と、ブロックの中身の全てのトランザクションデータからなります。</p>
<p>各ブロックのブロックヘッダーの値からは、ハッシュ値を計算することができます。</p>
<p>ブロックのハッシュ値はブロックのユニークなIDとして利用され、ブロックを特定するには主にこのハッシュ値を利用します*1。</p>


<small>
  *ブロックの高さもブロックを一意に特定するために利用できます。ただし、ブロックチェーンの分岐(フォーク)が発生した場合は同じブロック高のブロックが複数になる場合がありえます。
</small>

<!--文章化する-->

<p>トランザクションの集合</p>
<p>ブロックヘッダー: メタデータを集めたもの</p>
<p>ブロックヘッダーのハッシュ値</p>
<p>ヘッダーには親ブロックのハッシュ値(Previous hash)を含む</p>
<p>Genesis Blockは最初のブロック</p>
<p>chain状に連続接続されていて、ブロックからGenesis Block をだどれるようになって/いる</p>


<ul>
  Skip Data
  <li>Block Connection</li>
  <li>Block Identifier</li>
  <li>Block Portal</li>
</ul>
