<h1>ブロックチェーンとは</h1>
<p>各ブロックヘッダーには、一つ前のブロック(親ブロック)のハッシュ値<b>Previous Hash</b>が含まれています。</p>
<p>全てのブロックが親のハッシュ値を通じてチェーン上に連結しているのがブロックチェーンです。</p>
<p>あるブロックのPrevious Hashから親ブロックを辿ると、必ず一番初めのブロックに辿り着きます。</p>
<p>この一番初めのブロックだけはビットコインのプログラムコードに直書きされており、これをジェネシスブロック(Genesis Block)と呼びます。</p>


<!--文章化する-->

<p>トランザクションの集合</p>
<p>ブロックヘッダー: メタデータを集めたもの</p>
<p>ブロックヘッダーのハッシュ値</p>
<p>ヘッダーには親ブロックのハッシュ値(Previous hash)を含む</p>
<p>Genesis Blockは最初のブロック</p>
<p>chain状に連続接続されていて、ブロックからGenesis Block をだどれるようになって/いる</p>


<ul>
  Skip Data
  <li>Block Connection</li>
  <li>Block Identifier</li>
  <li>Block Portal</li>
</ul>
