<h1>ブロックヘッダーのデータ構造</h1>
<p>ブロックヘッダーの中身は以下の通りです。詳細は後ほど説明していきます。</p>
<ul>
  <li>Version: ビットコインのバージョン</li>
  <li>Prev Block Hash: 前のブロックのハッシュ値</li>
  <li>Merkle Root: トランザクションの要約情報</li>
  <li>Timestamp: ブロックの生成時刻</li>
  <li>Difficulty Target: マイニングの難易度を示す値</li>
  <li>Nonce: マイニングによって得られた値</li>
</ul>
<p>ブロックのハッシュ値はブロックヘッダに含まれず、これらのヘッダ情報をハッシュ化(ダブルSHA256)して得られることで計算されます。</p>
<p>特に重要な点は、ブロックヘッダーが前のブロックのハッシュ値を含むことと、トランザクションの要約情報を持つことです。</p>
<p>ヘッダーがトランザクション情報の要約と前のブロックのハッシュ値を含むので、
  このハッシュ値はトランザクションの中身が変わっても、前のブロックのハッシュ値が変わっても変わってしまいます。</p>
<p>「ブロックチェーンの基本的な仕組み」のデモで示した通り、
  このハッシュ値の依存関係によって全てのブロックがチェーンのように連結されるのでした。</p>


<ul>
  <li>Prev Block Hash</li>
  <li>Merkle Tree</li>
  <li>Block Height</li>
  <li>Transactions</li>
  <li>Difficulty</li>
  <li>Nonce</li>
</ul>


<p>トランザクションの集合</p>
<p>ブロックヘッダー: メタデータを集めたもの</p>
<p>ブロックヘッダーのハッシュ値</p>
<p>ヘッダーには親ブロックのハッシュ値(Previous hash)を含む</p>
<p>Genesis Blockは最初のブロック</p>
<p>chain状に連続接続されていて、ブロックからGenesis Block をだどれるようになって/いる</p>
