<h1>マークルツリーの構造</h1>
<p>マークルツリーは右図のように、ツリー状に連なった構造をしています。</p>
<p>一番上がルート(root,根の意味)と呼び、一番下の葉(leaves)と呼びます。</p>
<p>一番下の葉は、トランザクションデータをハッシュ化*した32バイトの数値です。</p>
<p>次に、隣接した葉のハッシュ値を連結した64バイトの数値をまたハッシュ化したものを計算し、新たな32バイトの数値を計算します。</p>
<p>このプロセスをハッシュ値が一つになるまで繰り返し、最後の一つとなったハッシュ値をマークルルート(Markle Root)と呼びます。</p>
<p>これは、トランザクションのデータがいくら大きくても、いくら小さくても、最終的には全てのデータを32バイトの数値に要約できることを意味しています。</p>


<small>
  *マークルツリーの計算で使われるハッシュ関数は、SHA256を二回計算したものになります。
  トランザクションAのハッシュ値 = SHA256(SHA256(トランザクションAのデータ))
</small>

<!--文章化する-->

<p>大容量のデータを要約</p>
<p>Transaction Hash</p>
<p>doubleHash(h + H)</p>
<p>Root が一つになるまで繰り返す</p>
<p>Markle Path</p>
<p>Transaction がBLockに含まれているか検証</p>
<p>ブロックヘッダとマークるパスを受け取り検証</p>
<p>Merkle Pathにトランザクションのハッシュ値を含めて計算することで、Markle Root のハッシュ値が生成できることで、
  たしかにMerkle Rootがトランザクションのハッシュ値を含んで計算されたものであると確認できる。</p>
<p>TransactionのMekrlePathをハッシュ化してたしかにMerkleRootのハッシュ値が計算できる => マークるパスが正しくハッシュ計算によって生成されている</p>
<p>Transactionのハッシュ値が一致すること: Merkle Root の計算プロセスにトランザクションが含まれていること</p>
<p>ブロック</p>
