<h1>マークルツリーによるトランザクションの検証</h1>
<p>このマークルツリーは、トランザクションデータを検証したいSPVノードによって利用されます。</p>
<p>SPVノードは、フルノードと違って全てのトランザクションデータを持たず、ブロックヘッダのみを保持しているのでした。</p>
<p>従って、あるトランザクションがブロックに含まれているかどうかを検証するためには、マークルツリーを利用する必要があります。</p>
<p>SPVノードは、自分に関心のあるトランザクションを検証するため、他のノードから<b>マークルパス</b>というデータを受け取ります</p>
<p>マークルパスは、右図のようにマークルツリーの一部分で、特定のトランザクションに繋がるまでのハッシュ値となります。</p>
<p>
  トランザクションデータのハッシュ値と、マークルパスからハッシュ値を計算し、マークルートを計算します。</p>
<p>導き出したマークルーとがブロックヘッダーに含まれるマークル-トと一致すれば、
  確かにそのトランザクションがブロックに含まれているということを確認できるのです。</p>


<small>
  *マークルツリーの計算で使われるハッシュ関数は、SHA256を二回計算したものになります。
  トランザクションAのハッシュ値 = SHA256(SHA256(トランザクションAのデータ))
</small>

<!--文章化する-->

<p>大容量のデータを要約</p>
<p>Transaction Hash</p>
<p>doubleHash(h + H)</p>
<p>Root が一つになるまで繰り返す</p>
<p>Markle Path</p>
<p>Transaction がBLockに含まれているか検証</p>
<p>ブロックヘッダとマークるパスを受け取り検証</p>
<p>Merkle Pathにトランザクションのハッシュ値を含めて計算することで、Markle Root のハッシュ値が生成できることで、
  たしかにMerkle Rootがトランザクションのハッシュ値を含んで計算されたものであると確認できる。</p>
<p>TransactionのMekrlePathをハッシュ化してたしかにMerkleRootのハッシュ値が計算できる => マークるパスが正しくハッシュ計算によって生成されている</p>
<p>Transactionのハッシュ値が一致すること: Merkle Root の計算プロセスにトランザクションが含まれていること</p>
<p>ブロック</p>
