<h1>マークツリーの効率</h1>
<p>マークルツリーを使わないでトランザクションを検証する場合と、マークルツリーを利用した場合のデータサイズを比較してみましょう。</p>
<p>マークルツリーを使わない場合はブロック全体を受け取って検証する必要がありますが、マークルツリーを利用した場合はマークルパスのデータサイズだけが必要となります。</p>
<p>データサイズを比較すると右図のようになります。</p>
<p>どんどんとデータが積み重なるブロックチェーンでは、
  このマークルツリーを利用した要約の仕組みは不可欠なものとなります。</p>


<small>
  *マークルツリーの計算で使われるハッシュ関数は、SHA256を二回計算したものになります。
  トランザクションAのハッシュ値 = SHA256(SHA256(トランザクションAのデータ))
</small>

<!--文章化する-->

<p>大容量のデータを要約</p>
<p>Transaction Hash</p>
<p>doubleHash(h + H)</p>
<p>Root が一つになるまで繰り返す</p>
<p>Markle Path</p>
<p>Transaction がBLockに含まれているか検証</p>
<p>ブロックヘッダとマークるパスを受け取り検証</p>
<p>Merkle Pathにトランザクションのハッシュ値を含めて計算することで、Markle Root のハッシュ値が生成できることで、
  たしかにMerkle Rootがトランザクションのハッシュ値を含んで計算されたものであると確認できる。</p>
<p>TransactionのMekrlePathをハッシュ化してたしかにMerkleRootのハッシュ値が計算できる => マークるパスが正しくハッシュ計算によって生成されている</p>
<p>Transactionのハッシュ値が一致すること: Merkle Root の計算プロセスにトランザクションが含まれていること</p>
<p>ブロック</p>
