<h1>Typescript</h1>

<h2>keyof </h2>
<ace-editor value="
class A {
     a: 3
     b: 4
}
keyof B
=> 'a' | 'b
"></ace-editor>
<h2>mapped type: [P in keyof T]</h2>
<p>in keyof T can be used only in type declaration</p>
<p>P in 1 | 2 | 3, in loop over type</p>
<p>in T extends string | number | symbol</p>
<ace-editor value="
type Partial<T> = {
    [P in keyof T]?: T[P]
}
type Readonly<T> = {
    [P in keyof T]: T[P]
}
"></ace-editor>

<h2>Index Type</h2>
<ace-editor value="
type A<T extends 'a' | 'b'> = {
   [P in T]: P
}[T]
type A<T extends 'a' | 'b'> = {
    [P in 'a' | 'b']: P[]
}['a' | 'b']
"></ace-editor>
<h2>Intersection Type</h2>
<ace-editor value="
interface A {
    a: 1
}
interface B {
    b: 1
}
type AnB = A & b;
const x: AnB = {a: 1, b:, 1}
"></ace-editor>
<h2>Union Type (union of type member)</h2>
<ace-editor value="
interface A {
    a: 1
}
interface B {
    b: 1
}
type AnB = A | b;
const x: ArB = {a: 1}
const y: ArB = {b: 1}
"></ace-editor>
<h2>Intersection Type(intersection of type member)</h2>
<ace-editor value="
interface A {
    a: 1
}
interface B {
    b: 1
}
type AnB = A | b;
const x: ArB = {a: 1}
const y: ArB = {b: 1}
"></ace-editor>

<h2>Exclude Type</h2>
<ace-editor value="
A is assignable to B? then, not A
type AexB = Exclude<{b: number} | {a: 1, b: 1}, {b: 1}>
{b: number} is not assignable to {b: 1}
{a: 1, b: 1} is assignable to {b: 1}
so AexB = {b: number}
"></ace-editor>

<h2>Extract Type</h2>
<ace-editor value="
interface A {
    a: 1
}
interface B {
    b: 1
}
type AnB = Extract<A | B, B> # =>never;
A ⊂ B?
B ⊂ B?
"></ace-editor>
