<h1>P2Pネットワーク</h1>
<p>「ブロックチェーンの基本的な仕組み」でP2Pネットワークについて触れましたが、このチャプターではビットコインのP2Pネットワークについてより詳しく解説していきます。</p>
<p>ビットコインのネットワークはP2Pネットワークという、全てのネットワーク参加者が対等な形のネットワークによって成り立っています。</p>
<p>世の中の多くのウェブサービスでは、中央のサーバーがサービスを提供し、データを管理し、それ以外の人はサービスを享受するという形でネットワークに参加します。</p>
<p>ウェブサービスの利用者はデータベースの内容を書き換えたり、ウェブページを提供したりといった行為は行いません</p>
<p>しかし、P2Pネットワークでは、全てのネットワーク参加者が対等であり、サービスの提供者であると共にサービスの利用者となります。</p>
<p>P2Pネットワーク上では権威的に管理を行う中央は存在せず、分散的な形でネットワークが成り立っています。</p>
<p>ビットコインはコンセンサスアルゴリズムによって、全体で適切な合意形成が可能な分散型のネットワークを作り上げているのです。</p>





<p></p>
<ul>
  <li>Every Node is Equal except that they have several roles</li>
  <li>Node Types And Roles of P2P network</li>
  <li></li>
  <li></li>
  <li></li>
</ul>


<h1>WHat Is Peer To Peer(p2p) Network</h1>
<p>In the normal network, server and client</p>
<p>In the BitCoin network, there are no server. All Nodes have same role like a peer</p>
<p>All Nodes provide and consume services</p>
<p>It is a peer to peer network</p>

<h2>P2P Characteristics</h2>
<h3>Resilient</h3>
<p>If One node downs, Any Node in the network can serve service</p>
<h3>Decentralized</h3>
<p>There are no central server witch controls network arbitrarily</p>
<h3>Open</h3>
<p>Net work open, so anyone can access network data.</p>

<h2>Other P2P services</h2>
<h3>Napster</h3>
<p>File Sharing Service</p>
<h3>BitTorrent</h3>

<h2>KeyWords</h2>
<ul>
  <li>BitCoinNetwork: Collection of nodes in the running the BitCoin p2p protocol</li>
</ul>

<h1>Other Protocols</h1>
<p>Stratum is a protocol which is used for mining and lightweight or mobile wallets</p>

<h2>How they are added to ethe BitCoin Network</h2>
<p>Gate way server accesses the bitcoin network and provide
  these additional network, then extend bitcoin network to nodes running these addtional protocol </p>

<h2>Keyword</h2>
<ul>
  <li>Extended BitCoin Network: Overall Network that includes the bitcoin p2p network, pool-mining protocols,
    the stratum protocol, and any other related protocols.
  </li>
</ul>

