<h1>ビットコインのP2Pネットワーク</h1>
<p>「ブロックチェーンの基本的な仕組み」で,ビットコインがP2Pネットワークで動いていることを説明しました。</p>
<p>もう少し詳しくビットコインのP2Pネットワークを理解していきましょう。</p>
<p>P2Pネットワークの特徴は、全てのネットワーク参加者が対等な形でネットワークに参加している事です。</p>
<p>世の中の典型的なサービスは、中央のサーバーデータを管理してサービスを提供し、それ以外の人はサービスを享受するという関係になります。</p>
<p>しかし、P2Pネットワークでは、全てのネットワーク参加者が対等であり、サービスの提供者であると共にサービスの利用者となります。</p>
<p>P2Pネットワーク上では権威的にサービスの管理を行う中央期間は存在せず、分散的な形でネットワークが成り立っています。</p>





<p></p>
<ul>
  <li>Every Node is Equal except that they have several roles</li>
  <li>Node Types And Roles of P2P network</li>
  <li></li>
  <li></li>
  <li></li>
</ul>


<h1>WHat Is Peer To Peer(p2p) Network</h1>
<p>In the normal network, server and client</p>
<p>In the BitCoin network, there are no server. All Nodes have same role like a peer</p>
<p>All Nodes provide and consume services</p>
<p>It is a peer to peer network</p>

<h2>P2P Characteristics</h2>
<h3>Resilient</h3>
<p>If One node downs, Any Node in the network can serve service</p>
<h3>Decentralized</h3>
<p>There are no central server witch controls network arbitrarily</p>
<h3>Open</h3>
<p>Net work open, so anyone can access network data.</p>

<h2>Other P2P services</h2>
<h3>Napster</h3>
<p>File Sharing Service</p>
<h3>BitTorrent</h3>

<h2>KeyWords</h2>
<ul>
  <li>BitCoinNetwork: Collection of nodes in the running the BitCoin p2p protocol</li>
</ul>

<h1>Other Protocols</h1>
<p>Stratum is a protocol which is used for mining and lightweight or mobile wallets</p>

<h2>How they are added to ethe BitCoin Network</h2>
<p>Gate way server accesses the bitcoin network and provide
  these additional network, then extend bitcoin network to nodes running these addtional protocol </p>

<h2>Keyword</h2>
<ul>
  <li>Extended BitCoin Network: Overall Network that includes the bitcoin p2p network, pool-mining protocols,
    the stratum protocol, and any other related protocols.
  </li>
</ul>

