<h1>それれぞれの機能</h1>
<p>ノードがビットコインネットワークに参加するために、他のノードを探したりノードとノードを接続したりします。</p>
<p>このネットワークに関する機能がルーティング機能です。</p>
<p>そして、ノードが暗号鍵を管理しトランザクションを生成するのがウォレット機能です。</p>
<p>全てのトランザクションを含んだブロックチェーンのデータを持つのがフルブロックチェーンデータベースの機能です。</p>
<p>全てのデータを所持するとデータ容量が非常に大きくなるため、データの一部しか持たないノードが存在します。</p>
<p>このようなノードをSPV(simplified payment verification)、あるいは軽量ノードと呼びます。</p>
<p>マイニング機能は、トランザクションを集めてブロックを生成し、プルーフオブワークの計算を実行し、ブロックチェーンにブロックを追加します。</p>
<p>マイニング機能を持つノードでも、全てのデータを自分で保持しているノードもあれば、他のノードのデータベースを参照しながらマイニングを実行するノードもあります。</p>
<p>ノードがどの機能を持つかによっていくつかノードの種類があります。</p>
<p>次のページから、それぞれの種類のノードについて説明していきます。</p>

<h1>Node Types and Roles</h1>
<p>A BitCoin node may take take on different roles depending on the functionality</p>
<p>A BitCoin node is a collection of functions: routing, database, mining, and wallet</p>
<p>Full node with all four of these functionality is shown in Figure 8-1</p>

<h2>Routing</h2>
<p>To Participate in bitcoin network, node needs routing functionality. So every node in the network has routing
  functionality</p>
<p>Routing functionality validate and propagate transactions and blocks</p>
<p>Routing functionality discover and maintain connections to the network</p>

<h2>Full Node</h2>
<p>Full Node has full functionality, and has a copy of Full BlockChain. They can verify transaction authoritatively
  without
  reference to the other nodes.
</p>
<h2>SPV Node</h2>
<p>Some Nodes maintain only subset of BlockChain, and verify transaction using a method called<span>simplified payment verification</span>
  or SPV. These nodes are known ad SPV or lightweight nodes.
</p>

<h2>Mining Nodes</h2>
<p>Mining nodes compete to create new blocks by running speciallized hadware to solve the Proof Of Work algorithm.
  Some Mining Nodes mqy be full node, and others are lightweight nodes participating
  in (pool mining) and depending on mining pool server which maintains a full node
</p>
