<div class="perspective-o-center position-relative perspective-container perspective-1000px">
  <div class="transform-container" [ngClass]="ngClass">
    <div class="dice dice-1">
      <div class="face face-style-front">1</div>
      <div class="face face-style-back">2</div>
      <div class="face face-style-right">3</div>
      <div class="face face- style-left">4</div>
      <div class="face face-style-top">5</div>
      <div class="face face-style-bottom">6</div>
    </div>
    <div class="dice dice-2">
      <div class="face face-style-front">1</div>
      <div class="face face-style-back">2</div>
      <div class="face face-style-right">3</div>
      <div class="face face-style-left">4</div>
      <div class="face face-style-top">5</div>
      <div class="face face-style-bottom">6</div>
    </div>
    <div class="dice dice-3">
      <div class="face face-style-front">1</div>
      <div class="face face-style-back">2</div>
      <div class="face face-style-right">3</div>
      <div class="face face-style-left">4</div>
      <div class="face face-style-top">5</div>
      <div class="face face-style-bottom">6</div>
    </div>
    <div class="dice dice-4">
      <div class="face face-style-front">1</div>
      <div class="face face-style-back">2</div>
      <div class="face face-style-right">3</div>
      <div class="face face-style-left">4</div>
      <div class="face face-style-top">5</div>
      <div class="face face-style-bottom">6</div>
    </div>
    <div class="dice dice-5">
      <div class="face face-style-front">1</div>
      <div class="face face-style-back">2</div>
      <div class="face face-style-right">3</div>
      <div class="face face-style-left">4</div>
      <div class="face face-style-top">5</div>
      <div class="face face-style-bottom">6</div>
    </div>
    <div class="dice dice-6">
      <div class="face face-style-front">1</div>
      <div class="face face-style-back">2</div>
      <div class="face face-style-right">3</div>
      <div class="face face-style-left">4</div>
      <div class="face face-style-top">5</div>
      <div class="face face-style-bottom">6</div>
    </div>
    <div class="dice dice-7">
      <div class="face face-style-front">1</div>
      <div class="face face-style-back">2</div>
      <div class="face face-style-right">3</div>
      <div class="face face-style-left">4</div>
      <div class="face face-style-top">5</div>
      <div class="face face-style-bottom">6</div>
    </div>
    <div class="w-100 d-flex position-absolute b-500px" style="transform: translateZ(-50px)">
      <div class="mx-auto">
        <button (click)="zoom()">zoom</button>
      </div>
    </div>
  </div>
</div>
