<h1>ビットコインとは</h1>
<p>ビットコインは<b>ブロックチェーン</b>に基く初めてのデジタル通貨です。</p>
<p>コース「ブロックチェーンの基本的な仕組み」で説明した通り、
  ブロックチェーンは<b>P2P</b>ネットワークで動く<b>非中央集権(decentralized)」</b>な仕組みでした。</p>
<p>ビットコインではブロックチェーンにより分散化されていて、売買・送金・融資といった通常の貨幣で行うことのほとんど全てを実行できます。</p>




<p>Memo</p>
<p>もうちょい What is bitcoinを書いた方がいいかも?</p>



<h1>What Is Bitcoin</h1>
<ul>
  <li>Decentralized</li>
  <li>Open source</li>
  <li>Digital</li>
</ul>

<p>ビットコインとは<b>分散化された信用システム</b>に基く初めてのデジタル通貨です</p>
<p>ユーザーはビットコインという通じて価値の保有・移転をすることができます。,
  物品の売買・送金・融資といった従来の貨幣で行うほぼ全てのことができます。</p>
<p>ビットコインはオープンソースのソフトウェアで作られていて、誰もが無料でビットコインネットワークに参加でき、
  誰もが自由に開発に参加することができます。</p>
<p>ビットコインの最も重要で革新的な点はその分散化された信用システムです。</p>


<h1>ビットコインと電子通貨の違い</h1>
<ul>
  <li>ビットコインができること</li>
  <li>ビットコインと電子通貨の違い</li>
  <li>分散化とは</li>
  <li>なぜ分散化の必要があったのか</li>
  <li>分散化の詳しい仕組み</li>
</ul>

