<h1>ビットコインとは</h1>
<p>ビットコインは電子的な通貨であり、ユーザーはビットコインという通貨を通じて価値の保有・移転をすることができます。</p>
<p>ビットコインを用いることで、通常の通貨と同じように物品の売買・送金・融資といった従来の貨幣で行うほぼ全てのことができます。</p>
<p>ここまで見ると、通常の電子化された通貨との違いは内容に思えます。</p>
<p>では、ビットコインと通常の電子通貨との違いは何でしょうか？</p>
<p>それは、ビットコインは<b>分散化された信用システム</b>に基づいているという点にあります。</p>
<p>ビットコインは<b>分散化された信用システム</b>に基く初めてのデジタル通貨です。</p>
<p>では、分散化されているとはどういうことでしょうか。</p>
<p>次のページ移行で、分散化とはどういうことかについて説明していきます。</p>




<h1>ビットコインと電子通貨の違い</h1>
<ul>
  <li>ビットコインができること</li>
  <li>ビットコインと電子通貨の違い</li>
  <li>分散化とは</li>
  <li>なぜ分散化の必要があったのか</li>
  <li>分散化の詳しい仕組み</li>
</ul>




<h1>What Is Bitcoin</h1>
<ul>
  <li>Decentralized</li>
  <li>Open source</li>
  <li>Digital</li>
</ul>

<h1>ビットコインとは何か？</h1>
<p></p>

<p>ビットコインとは<b>分散化された信用システム</b>に基く初めてのデジタル通貨です</p>
<p>ユーザーはビットコインという通じて価値の保有・移転をすることができます。,
  物品の売買・送金・融資といった従来の貨幣で行うほぼ全てのことができます。</p>
<p>ビットコインはオープンソースのソフトウェアで作られていて、誰もが無料でビットコインネットワークに参加でき、
  誰もが自由に開発に参加することができます。</p>
<p>ビットコインの最も重要で革新的な点はその分散化された信用システムです。</p>


<h1>What Is Bitcoin</h1>
<ul>
  <li>Decentralized</li>
  <li>Open source</li>
  <li>Digital</li>
</ul>

