<h1>電子通貨の歴史: 中央集権型の電子通貨</h1>
<p>あまり知られていないかもしれないですが、
  ビットコイン以前にも中央集権的な仕組みの電子通貨は存在していました。</p>
<p>1982年に、David Chaumというアメリカのコンピューターサイエンティストは1990年にDigiCashという通貨を作成し、会社を起しました。</p>
<p>DigiCashは銀行の信用を基盤にしていて、暗号技術をもちいた匿名性などの特徴を持つ通貨でした</p>
<p>しかし商業的には成功せず1998年に破産しました。</p>
<p>失敗の原因は、E-コマースが十分に普及していないなどの時代背景だと言われています。</p>
<p>その後、金を信用の基盤とした<b>e-gold</b>という通貨を発行する会社が登場しました。</p>
<p>e-goldは100万人以上の人に使用され、一時は20億ドル以上の時価総額となるのですが、e-goldはハッキングの被害に遇い、多くの人が資産を失うことになりました。</p>
<p>その後、e-goldはハッキングの問題に対応しようとしていたのですが、アメリカの法改正により半ば強引な形で起訴され撤退していくことになりました。</p>
<p>e-goldの例等を見てわかるように、中央集権型の通貨には以下のような危険性があることがわかります。</p>
<ul>
  <li>ハッキングの危険性</li>
  <li>国家による統制</li>
  <li>管理主体の倒産</li>
</ul>



<h1>History of Digital currency</h1>
<ul>
  <li>DigiCash: first proposals of digital currency: 1982 ~ 1990: bankruptcy; not enough digital currency</li>
  <li>Bit Cold: decentralized digital currency: first smart contracts; not implemented</li>
  <li>Bit Gold: double spending, Sybil Attacks;</li>
  <li>Hash Cash: preventing spam mail; spawn concepts of proof of work</li>
  <li>B-money: anonymous decentralized electronic cash system</li>
</ul>


<h1>分散化した信用システムとは何か</h1>
<p>コース「」でも触れましたが、ブロックチェーンは分散化した仕組みで成り立っています。</p>
<p>分散化とは、簡単に言うと<b>中央管理主体が存在しない</b>ということです。</p>
<p>では、何故分散化する必要があるのでしょうか。分散化することのメリットとは何でしょうか。</p>
<p>それを理解するため、電子通貨の歴史についてついて触れて生きましょう</p>

<h1>分散化された信用システムとは</h1>
<p>分散化された信用システムとはどういうことか、従来の貨幣と比較して見て行きましょう。</p>
<p>従来の貨幣では、必ず貨幣を管理する中央機関が必要でした。</p>
<p>貨幣が貨幣として機能するためには、貨幣の偽造が防止される必要があります。
  また、貨幣の価値が下落しないために、恣意的に発行されないように管理されている必要があります。</p>
<p>紙幣だけではなくデジタル通貨でも様々な問題があります。</p>
<p>デジタル通貨は常にハッキングリスク、発行主体の倒産リスクなどに晒されます。</p>
<p>現在の日本でこそ紙幣がその価値を保っていることが当たり前のように感じてしまいますが、
  貨幣がその価値を維持するためには膨大な管理コストやリスクがつきまとっています。</p>
<p>実際に過去には、貨幣の偽造・二重支払い問題・貨幣の発行によるインフレ・デジタル通貨のハッキング、倒産、
  どれもが現実に起きてきたことで、そのたびに膨大な損害が発生してきました。</p>
<p>しかし、ビットコインでは信用システムが完全に分散化されています。</p>
<p>ビットコインでは、ネットワークを管理する中央機関が存在しません。</p>
<p>ビットコインネットワーク上の取引の正しさは暗号アルゴリズムによって保証されます。</p>
<p>中央管理する組織体がいなくとも偽造・不正な発行が不可能になっており、
  また中央管理者が存在しないため、ハッキングの単一の攻撃対象も存在しません。
  中央機関が破綻して貨幣の価値が無くなってしまうこともないのです。</p>
<p>このように、ビットコインは暗号アルゴリズムに基づく分散化された信用システムを用いることで、
  極めて高いセキュリティーを保つことができるのです。</p>


<h2>What To Tell</h2>

<h3>What Is Bitcoin</h3>
<h4>
  Difference with a paper money.
  Paper Money.
</h4>

<h4>Difference with a digital money</h4>
<p>Encrypted money existed, but Attacked by a hacker,
  and country because not decentralized or liquidated abruptly.
  Decentralized is important.
</p>

<h3>Compare with the paper money.</h3>
<p>通常の紙幣では中央管理がいる。</p>
<h4>Detail</h4>
貨幣の発行、偽造防止、決済。全てに中央管理体がいてコストがかかる
ビットコインでは、ブロックチェーンを基礎として分散化された信用システムで作られていて、
信用できる管理主体がいなくとも改ざんが極めて難しい。

<p>デジタル通貨との違い</p>

<h3>分散化されているという点</h3>
<p>暗号技術を用いたデジタル通貨はすでに存在していましたが、ハッキングや政府からの訴訟の攻撃対象とされ消えて行きました。</p>
<p>https://hackernoon.com/the-amazing-story-of-cryptocurrencies-before-bitcoin-fe1b0e55155b</p>
<p>ビットコインの信用システムは分散化されているため、攻撃対象となる中央管理者が存在しません。</p>

<p>デジタル通貨という発送はビットコイン以前にもありました。では、ビットコインの何が特別なのでしょうか。</p>
<p>そもそも貨幣の価値が維持されるには、その貨幣がむやみに発行されたり偽造されてはいけません</p>
<p>
  日本の紙幣の場合、その価値を維持するため、日本銀行が通貨の発行を厳しく制限し、偽造防止技術を取り入れて厳しく管理しています。
  日本の紙幣が価値を持つ背景には、国という信用されている存在が不可欠なのです。
</p>
<p>
  一方で従来のデジタル紙幣はどうでしょうか。 デジタル紙幣には物理的な実態が存在せず、複製も容易です。
  そのデジタル紙幣がむやみに発行されたり偽造されたりしない保証はありませんし、セキュリティーのリスクも常に存在します。
  また、企業が運営主体のデジタル紙幣であれば、その企業が倒産すればその価値は消えてしまいます。
</p>

<ul>
  <li>Centralized management makes vulnerable to hackers</li>
  <li>Central administration is therefore no more secure than a bank or credit card company/
  <li>A monetary system based on gold may lead to state-run blackmail</li>
  <li>A company domiciled in a country may be at the mercy of changing legislation</li>
  <li>Founders who can be identified as real persons may be preventively arrested by the FBI</li>
</ul>
