<h1>Memo</h1>

<h1>電子通貨の歴史：分散型の電子通貨</h1>

<h1>ビットコインの歴史</h1>
<p>ビットコインは2008年, Satoshi Nakamoto を名乗る匿名の人物がビットコインの設計に関する論文を発表した事から始まりました。</p>
<p>ビットコインの革新的な点は、「Proof-of-Work」(プルーフ・オブ・ワーク)と呼ばれる暗号アルゴリズムにより二重支払問題を解決したことにあります。</p>
<p>従来のデジタル通貨では中央の決済機関が介入することよって二重支払問題を解決していたのですが、
  プルーフ・オブ・ワークの暗号アルゴリズムにより中央の機関なしで問題を解決できるようになりました。</p>

<p>ビットコインネットワークは2009年にスタートし、
  その後2011年にSatoshi Nakamotoは開発をボランティアのメンバーに任せ開発から抜けました。</p>
<p>その後Sathoshi Nakamotoが行方は誰も知りません。</p>
<p>ビットコインネットワークは誰かによってコントロールされるのでなく、オープンソースのコードのアルゴリズムを基に動いており、
  ネットワーク参加者のコンセンサスによって動いています。</p>




<p>2008年　Satsho Nakamoto が開発。論文.</p>
<p>Proof Of Work Algorithm: Double spending problem</p>
<p>2009年　オープンなコミュニティーに開発が移譲</p>
<p>Genesis Block の皮肉とその背景</p>
