.icon-count {
  vertical-align: middle;
  font-size: 14px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 40px;
}


.icon-count-wrapper {
  margin: auto;
}

.panel-title {
  word-break: break-all;
}
