<h1>イントロダクション</h1>
<h2>このコースで学べる事</h2>
<p>ビットコインとビットコインを支えているブロックチェーンの仕組みを少し踏み込んで理解していきます。<p>
<p>ブロックチェーン初級コースを理解しているとより理解がスムーズになるので、先にそちらのコースを利用するのをおすすめします。</p>
<p>2019年現在、様々な暗号通貨やが作られていますが、それらは全てビットコインをベースに考えられています。</p>
<p>そのため、他のブロックチェーン技術が何故そのように作られているのか、どういう目的を持っているかは、ビットコインと比較して理解するのが一番の早道です。</p>
<p>ブロックチェーンで何ができるのか、何ができないのか、どのようなリスクがあるのか、
  これからどう発展していくのか。そういったことをより正しく理解するため、必要な場所は技術的な構造についても見ていきます。</p>


<h3>Point</h3>
<h4>Goal</h4>
<p>ブロックチェーンを正しく理解する</p>
<h4>Why Bitcoin</h4>
<p>Bitcoinをベースに考えられているから</p>
<h5>How</h5>
<p>ビットコインの改善や違うトレードオフを目的として作られているため</p>
<h4>Why In Detail</h4>
<p>技術的な構造を知る事で、問題点を正しく理解するため</p>
<p>セキュリティーの問題、技術の可能性はブロックチェーン技術の構造を知ることで正確に見えてくる</p>
