@import "color_names";
.bg-science-blue {
  background-color: $science-blue !important;
}
.text-science-blue {
  color: $science-blue !important;
}
.bg-dodger-blue {
  background-color: $dodger-blue !important;
}
.text-dodger-blue {
  color: $dodger-blue !important;
}
.bg-melrose {
  background-color: $melrose !important;
}
.text-melrose {
  color: $melrose !important;
}
.bg-downriver {
  background-color: $downriver !important;
}
.text-downriver {
  color: $downriver !important;
}

.bg-wild-sand {
  background-color: $wild-sand !important;
}

.text-wild-sand {
  color: $wild-sand !important;
}
