.opacity-0 {
  opacity: 0/100;
}

.opacity-5 {
  opacity: 5/100;
}

.opacity-10 {
  opacity: 10/100;
}

.opacity-15 {
  opacity: 15/100;
}

.opacity-20 {
  opacity: 20/100;
}

.opacity-25 {
  opacity: 25/100;
}

.opacity-30 {
  opacity: 30/100;
}

.opacity-35 {
  opacity: 35/100;
}

.opacity-40 {
  opacity: 40/100;
}

.opacity-45 {
  opacity: 45/100;
}

.opacity-50 {
  opacity: 50/100;
}

.opacity-55 {
  opacity: 55/100;
}

.opacity-60 {
  opacity: 60/100;
}

.opacity-65 {
  opacity: 65/100;
}

.opacity-70 {
  opacity: 70/100;
}

.opacity-75 {
  opacity: 75/100;
}

.opacity-80 {
  opacity: 80/100;
}

.opacity-85 {
  opacity: 85/100;
}

.opacity-90 {
  opacity: 90/100;
}

.opacity-95 {
  opacity: 95/100;
}

.opacity-100 {
  opacity: 100/100;
}