.y-0px {
  top: 0;
  bottom: 0;
}

.x-0px {
  left: 0;
  bottom: 0;
}

.t-0px {
  top: 0;
}

.r-0px {
  right: 0;
}

.l-0px {
  left: 0;
}

.b-0px {
  bottom: 0;
}

.y-10px {
  top: 10px;
  bottom: 10px;
}

.x-10px {
  left: 10px;
  bottom: 10px;
}

.t-10px {
  top: 10px;
}

.r-10px {
  right: 10px;
}

.l-10px {
  left: 10px;
}

.b-10px {
  bottom: 10px;
}

.y-20px {
  top: 20px;
  bottom: 20px;
}

.x-20px {
  left: 20px;
  bottom: 20px;
}

.t-20px {
  top: 20px;
}

.r-20px {
  right: 20px;
}

.l-20px {
  left: 20px;
}

.b-20px {
  bottom: 20px;
}

.y-30px {
  top: 30px;
  bottom: 30px;
}

.x-30px {
  left: 30px;
  bottom: 30px;
}

.t-30px {
  top: 30px;
}

.r-30px {
  right: 30px;
}

.l-30px {
  left: 30px;
}

.b-30px {
  bottom: 30px;
}

.y-40px {
  top: 40px;
  bottom: 40px;
}

.x-40px {
  left: 40px;
  bottom: 40px;
}

.t-40px {
  top: 40px;
}

.r-40px {
  right: 40px;
}

.l-40px {
  left: 40px;
}

.b-40px {
  bottom: 40px;
}

.y-50px {
  top: 50px;
  bottom: 50px;
}

.x-50px {
  left: 50px;
  bottom: 50px;
}

.t-50px {
  top: 50px;
}

.r-50px {
  right: 50px;
}

.l-50px {
  left: 50px;
}

.b-50px {
  bottom: 50px;
}

.y-60px {
  top: 60px;
  bottom: 60px;
}

.x-60px {
  left: 60px;
  bottom: 60px;
}

.t-60px {
  top: 60px;
}

.r-60px {
  right: 60px;
}

.l-60px {
  left: 60px;
}

.b-60px {
  bottom: 60px;
}

.y-70px {
  top: 70px;
  bottom: 70px;
}

.x-70px {
  left: 70px;
  bottom: 70px;
}

.t-70px {
  top: 70px;
}

.r-70px {
  right: 70px;
}

.l-70px {
  left: 70px;
}

.b-70px {
  bottom: 70px;
}

.y-80px {
  top: 80px;
  bottom: 80px;
}

.x-80px {
  left: 80px;
  bottom: 80px;
}

.t-80px {
  top: 80px;
}

.r-80px {
  right: 80px;
}

.l-80px {
  left: 80px;
}

.b-80px {
  bottom: 80px;
}

.y-90px {
  top: 90px;
  bottom: 90px;
}

.x-90px {
  left: 90px;
  bottom: 90px;
}

.t-90px {
  top: 90px;
}

.r-90px {
  right: 90px;
}

.l-90px {
  left: 90px;
}

.b-90px {
  bottom: 90px;
}

.y-100px {
  top: 100px;
  bottom: 100px;
}

.x-100px {
  left: 100px;
  bottom: 100px;
}

.t-100px {
  top: 100px;
}

.r-100px {
  right: 100px;
}

.l-100px {
  left: 100px;
}

.b-100px {
  bottom: 100px;
}

.y-110px {
  top: 110px;
  bottom: 110px;
}

.x-110px {
  left: 110px;
  bottom: 110px;
}

.t-110px {
  top: 110px;
}

.r-110px {
  right: 110px;
}

.l-110px {
  left: 110px;
}

.b-110px {
  bottom: 110px;
}

.y-120px {
  top: 120px;
  bottom: 120px;
}

.x-120px {
  left: 120px;
  bottom: 120px;
}

.t-120px {
  top: 120px;
}

.r-120px {
  right: 120px;
}

.l-120px {
  left: 120px;
}

.b-120px {
  bottom: 120px;
}

.y-130px {
  top: 130px;
  bottom: 130px;
}

.x-130px {
  left: 130px;
  bottom: 130px;
}

.t-130px {
  top: 130px;
}

.r-130px {
  right: 130px;
}

.l-130px {
  left: 130px;
}

.b-130px {
  bottom: 130px;
}

.y-140px {
  top: 140px;
  bottom: 140px;
}

.x-140px {
  left: 140px;
  bottom: 140px;
}

.t-140px {
  top: 140px;
}

.r-140px {
  right: 140px;
}

.l-140px {
  left: 140px;
}

.b-140px {
  bottom: 140px;
}

.y-150px {
  top: 150px;
  bottom: 150px;
}

.x-150px {
  left: 150px;
  bottom: 150px;
}

.t-150px {
  top: 150px;
}

.r-150px {
  right: 150px;
}

.l-150px {
  left: 150px;
}

.b-150px {
  bottom: 150px;
}

.y-160px {
  top: 160px;
  bottom: 160px;
}

.x-160px {
  left: 160px;
  bottom: 160px;
}

.t-160px {
  top: 160px;
}

.r-160px {
  right: 160px;
}

.l-160px {
  left: 160px;
}

.b-160px {
  bottom: 160px;
}

.y-170px {
  top: 170px;
  bottom: 170px;
}

.x-170px {
  left: 170px;
  bottom: 170px;
}

.t-170px {
  top: 170px;
}

.r-170px {
  right: 170px;
}

.l-170px {
  left: 170px;
}

.b-170px {
  bottom: 170px;
}

.y-180px {
  top: 180px;
  bottom: 180px;
}

.x-180px {
  left: 180px;
  bottom: 180px;
}

.t-180px {
  top: 180px;
}

.r-180px {
  right: 180px;
}

.l-180px {
  left: 180px;
}

.b-180px {
  bottom: 180px;
}

.y-190px {
  top: 190px;
  bottom: 190px;
}

.x-190px {
  left: 190px;
  bottom: 190px;
}

.t-190px {
  top: 190px;
}

.r-190px {
  right: 190px;
}

.l-190px {
  left: 190px;
}

.b-190px {
  bottom: 190px;
}

.y-200px {
  top: 200px;
  bottom: 200px;
}

.x-200px {
  left: 200px;
  bottom: 200px;
}

.t-200px {
  top: 200px;
}

.r-200px {
  right: 200px;
}

.l-200px {
  left: 200px;
}

.b-200px {
  bottom: 200px;
}

.y-210px {
  top: 210px;
  bottom: 210px;
}

.x-210px {
  left: 210px;
  bottom: 210px;
}

.t-210px {
  top: 210px;
}

.r-210px {
  right: 210px;
}

.l-210px {
  left: 210px;
}

.b-210px {
  bottom: 210px;
}

.y-220px {
  top: 220px;
  bottom: 220px;
}

.x-220px {
  left: 220px;
  bottom: 220px;
}

.t-220px {
  top: 220px;
}

.r-220px {
  right: 220px;
}

.l-220px {
  left: 220px;
}

.b-220px {
  bottom: 220px;
}

.y-230px {
  top: 230px;
  bottom: 230px;
}

.x-230px {
  left: 230px;
  bottom: 230px;
}

.t-230px {
  top: 230px;
}

.r-230px {
  right: 230px;
}

.l-230px {
  left: 230px;
}

.b-230px {
  bottom: 230px;
}

.y-240px {
  top: 240px;
  bottom: 240px;
}

.x-240px {
  left: 240px;
  bottom: 240px;
}

.t-240px {
  top: 240px;
}

.r-240px {
  right: 240px;
}

.l-240px {
  left: 240px;
}

.b-240px {
  bottom: 240px;
}

.y-250px {
  top: 250px;
  bottom: 250px;
}

.x-250px {
  left: 250px;
  bottom: 250px;
}

.t-250px {
  top: 250px;
}

.r-250px {
  right: 250px;
}

.l-250px {
  left: 250px;
}

.b-250px {
  bottom: 250px;
}

.y-260px {
  top: 260px;
  bottom: 260px;
}

.x-260px {
  left: 260px;
  bottom: 260px;
}

.t-260px {
  top: 260px;
}

.r-260px {
  right: 260px;
}

.l-260px {
  left: 260px;
}

.b-260px {
  bottom: 260px;
}

.y-270px {
  top: 270px;
  bottom: 270px;
}

.x-270px {
  left: 270px;
  bottom: 270px;
}

.t-270px {
  top: 270px;
}

.r-270px {
  right: 270px;
}

.l-270px {
  left: 270px;
}

.b-270px {
  bottom: 270px;
}

.y-280px {
  top: 280px;
  bottom: 280px;
}

.x-280px {
  left: 280px;
  bottom: 280px;
}

.t-280px {
  top: 280px;
}

.r-280px {
  right: 280px;
}

.l-280px {
  left: 280px;
}

.b-280px {
  bottom: 280px;
}

.y-290px {
  top: 290px;
  bottom: 290px;
}

.x-290px {
  left: 290px;
  bottom: 290px;
}

.t-290px {
  top: 290px;
}

.r-290px {
  right: 290px;
}

.l-290px {
  left: 290px;
}

.b-290px {
  bottom: 290px;
}

.y-300px {
  top: 300px;
  bottom: 300px;
}

.x-300px {
  left: 300px;
  bottom: 300px;
}

.t-300px {
  top: 300px;
}

.r-300px {
  right: 300px;
}

.l-300px {
  left: 300px;
}

.b-300px {
  bottom: 300px;
}

.y-310px {
  top: 310px;
  bottom: 310px;
}

.x-310px {
  left: 310px;
  bottom: 310px;
}

.t-310px {
  top: 310px;
}

.r-310px {
  right: 310px;
}

.l-310px {
  left: 310px;
}

.b-310px {
  bottom: 310px;
}

.y-320px {
  top: 320px;
  bottom: 320px;
}

.x-320px {
  left: 320px;
  bottom: 320px;
}

.t-320px {
  top: 320px;
}

.r-320px {
  right: 320px;
}

.l-320px {
  left: 320px;
}

.b-320px {
  bottom: 320px;
}

.y-330px {
  top: 330px;
  bottom: 330px;
}

.x-330px {
  left: 330px;
  bottom: 330px;
}

.t-330px {
  top: 330px;
}

.r-330px {
  right: 330px;
}

.l-330px {
  left: 330px;
}

.b-330px {
  bottom: 330px;
}

.y-340px {
  top: 340px;
  bottom: 340px;
}

.x-340px {
  left: 340px;
  bottom: 340px;
}

.t-340px {
  top: 340px;
}

.r-340px {
  right: 340px;
}

.l-340px {
  left: 340px;
}

.b-340px {
  bottom: 340px;
}

.y-350px {
  top: 350px;
  bottom: 350px;
}

.x-350px {
  left: 350px;
  bottom: 350px;
}

.t-350px {
  top: 350px;
}

.r-350px {
  right: 350px;
}

.l-350px {
  left: 350px;
}

.b-350px {
  bottom: 350px;
}

.y-360px {
  top: 360px;
  bottom: 360px;
}

.x-360px {
  left: 360px;
  bottom: 360px;
}

.t-360px {
  top: 360px;
}

.r-360px {
  right: 360px;
}

.l-360px {
  left: 360px;
}

.b-360px {
  bottom: 360px;
}

.y-370px {
  top: 370px;
  bottom: 370px;
}

.x-370px {
  left: 370px;
  bottom: 370px;
}

.t-370px {
  top: 370px;
}

.r-370px {
  right: 370px;
}

.l-370px {
  left: 370px;
}

.b-370px {
  bottom: 370px;
}

.y-380px {
  top: 380px;
  bottom: 380px;
}

.x-380px {
  left: 380px;
  bottom: 380px;
}

.t-380px {
  top: 380px;
}

.r-380px {
  right: 380px;
}

.l-380px {
  left: 380px;
}

.b-380px {
  bottom: 380px;
}

.y-390px {
  top: 390px;
  bottom: 390px;
}

.x-390px {
  left: 390px;
  bottom: 390px;
}

.t-390px {
  top: 390px;
}

.r-390px {
  right: 390px;
}

.l-390px {
  left: 390px;
}

.b-390px {
  bottom: 390px;
}

.y-400px {
  top: 400px;
  bottom: 400px;
}

.x-400px {
  left: 400px;
  bottom: 400px;
}

.t-400px {
  top: 400px;
}

.r-400px {
  right: 400px;
}

.l-400px {
  left: 400px;
}

.b-400px {
  bottom: 400px;
}

.y-410px {
  top: 410px;
  bottom: 410px;
}

.x-410px {
  left: 410px;
  bottom: 410px;
}

.t-410px {
  top: 410px;
}

.r-410px {
  right: 410px;
}

.l-410px {
  left: 410px;
}

.b-410px {
  bottom: 410px;
}

.y-420px {
  top: 420px;
  bottom: 420px;
}

.x-420px {
  left: 420px;
  bottom: 420px;
}

.t-420px {
  top: 420px;
}

.r-420px {
  right: 420px;
}

.l-420px {
  left: 420px;
}

.b-420px {
  bottom: 420px;
}

.y-430px {
  top: 430px;
  bottom: 430px;
}

.x-430px {
  left: 430px;
  bottom: 430px;
}

.t-430px {
  top: 430px;
}

.r-430px {
  right: 430px;
}

.l-430px {
  left: 430px;
}

.b-430px {
  bottom: 430px;
}

.y-440px {
  top: 440px;
  bottom: 440px;
}

.x-440px {
  left: 440px;
  bottom: 440px;
}

.t-440px {
  top: 440px;
}

.r-440px {
  right: 440px;
}

.l-440px {
  left: 440px;
}

.b-440px {
  bottom: 440px;
}

.y-450px {
  top: 450px;
  bottom: 450px;
}

.x-450px {
  left: 450px;
  bottom: 450px;
}

.t-450px {
  top: 450px;
}

.r-450px {
  right: 450px;
}

.l-450px {
  left: 450px;
}

.b-450px {
  bottom: 450px;
}

.y-460px {
  top: 460px;
  bottom: 460px;
}

.x-460px {
  left: 460px;
  bottom: 460px;
}

.t-460px {
  top: 460px;
}

.r-460px {
  right: 460px;
}

.l-460px {
  left: 460px;
}

.b-460px {
  bottom: 460px;
}

.y-470px {
  top: 470px;
  bottom: 470px;
}

.x-470px {
  left: 470px;
  bottom: 470px;
}

.t-470px {
  top: 470px;
}

.r-470px {
  right: 470px;
}

.l-470px {
  left: 470px;
}

.b-470px {
  bottom: 470px;
}

.y-480px {
  top: 480px;
  bottom: 480px;
}

.x-480px {
  left: 480px;
  bottom: 480px;
}

.t-480px {
  top: 480px;
}

.r-480px {
  right: 480px;
}

.l-480px {
  left: 480px;
}

.b-480px {
  bottom: 480px;
}

.y-490px {
  top: 490px;
  bottom: 490px;
}

.x-490px {
  left: 490px;
  bottom: 490px;
}

.t-490px {
  top: 490px;
}

.r-490px {
  right: 490px;
}

.l-490px {
  left: 490px;
}

.b-490px {
  bottom: 490px;
}

.y-500px {
  top: 500px;
  bottom: 500px;
}

.x-500px {
  left: 500px;
  bottom: 500px;
}

.t-500px {
  top: 500px;
}

.r-500px {
  right: 500px;
}

.l-500px {
  left: 500px;
}

.b-500px {
  bottom: 500px;
}

.y-510px {
  top: 510px;
  bottom: 510px;
}

.x-510px {
  left: 510px;
  bottom: 510px;
}

.t-510px {
  top: 510px;
}

.r-510px {
  right: 510px;
}

.l-510px {
  left: 510px;
}

.b-510px {
  bottom: 510px;
}

.y-520px {
  top: 520px;
  bottom: 520px;
}

.x-520px {
  left: 520px;
  bottom: 520px;
}

.t-520px {
  top: 520px;
}

.r-520px {
  right: 520px;
}

.l-520px {
  left: 520px;
}

.b-520px {
  bottom: 520px;
}

.y-530px {
  top: 530px;
  bottom: 530px;
}

.x-530px {
  left: 530px;
  bottom: 530px;
}

.t-530px {
  top: 530px;
}

.r-530px {
  right: 530px;
}

.l-530px {
  left: 530px;
}

.b-530px {
  bottom: 530px;
}

.y-540px {
  top: 540px;
  bottom: 540px;
}

.x-540px {
  left: 540px;
  bottom: 540px;
}

.t-540px {
  top: 540px;
}

.r-540px {
  right: 540px;
}

.l-540px {
  left: 540px;
}

.b-540px {
  bottom: 540px;
}

.y-550px {
  top: 550px;
  bottom: 550px;
}

.x-550px {
  left: 550px;
  bottom: 550px;
}

.t-550px {
  top: 550px;
}

.r-550px {
  right: 550px;
}

.l-550px {
  left: 550px;
}

.b-550px {
  bottom: 550px;
}

.y-560px {
  top: 560px;
  bottom: 560px;
}

.x-560px {
  left: 560px;
  bottom: 560px;
}

.t-560px {
  top: 560px;
}

.r-560px {
  right: 560px;
}

.l-560px {
  left: 560px;
}

.b-560px {
  bottom: 560px;
}

.y-570px {
  top: 570px;
  bottom: 570px;
}

.x-570px {
  left: 570px;
  bottom: 570px;
}

.t-570px {
  top: 570px;
}

.r-570px {
  right: 570px;
}

.l-570px {
  left: 570px;
}

.b-570px {
  bottom: 570px;
}

.y-580px {
  top: 580px;
  bottom: 580px;
}

.x-580px {
  left: 580px;
  bottom: 580px;
}

.t-580px {
  top: 580px;
}

.r-580px {
  right: 580px;
}

.l-580px {
  left: 580px;
}

.b-580px {
  bottom: 580px;
}

.y-590px {
  top: 590px;
  bottom: 590px;
}

.x-590px {
  left: 590px;
  bottom: 590px;
}

.t-590px {
  top: 590px;
}

.r-590px {
  right: 590px;
}

.l-590px {
  left: 590px;
}

.b-590px {
  bottom: 590px;
}

.y-600px {
  top: 600px;
  bottom: 600px;
}

.x-600px {
  left: 600px;
  bottom: 600px;
}

.t-600px {
  top: 600px;
}

.r-600px {
  right: 600px;
}

.l-600px {
  left: 600px;
}

.b-600px {
  bottom: 600px;
}

.y-610px {
  top: 610px;
  bottom: 610px;
}

.x-610px {
  left: 610px;
  bottom: 610px;
}

.t-610px {
  top: 610px;
}

.r-610px {
  right: 610px;
}

.l-610px {
  left: 610px;
}

.b-610px {
  bottom: 610px;
}

.y-620px {
  top: 620px;
  bottom: 620px;
}

.x-620px {
  left: 620px;
  bottom: 620px;
}

.t-620px {
  top: 620px;
}

.r-620px {
  right: 620px;
}

.l-620px {
  left: 620px;
}

.b-620px {
  bottom: 620px;
}

.y-630px {
  top: 630px;
  bottom: 630px;
}

.x-630px {
  left: 630px;
  bottom: 630px;
}

.t-630px {
  top: 630px;
}

.r-630px {
  right: 630px;
}

.l-630px {
  left: 630px;
}

.b-630px {
  bottom: 630px;
}

.y-640px {
  top: 640px;
  bottom: 640px;
}

.x-640px {
  left: 640px;
  bottom: 640px;
}

.t-640px {
  top: 640px;
}

.r-640px {
  right: 640px;
}

.l-640px {
  left: 640px;
}

.b-640px {
  bottom: 640px;
}

.y-650px {
  top: 650px;
  bottom: 650px;
}

.x-650px {
  left: 650px;
  bottom: 650px;
}

.t-650px {
  top: 650px;
}

.r-650px {
  right: 650px;
}

.l-650px {
  left: 650px;
}

.b-650px {
  bottom: 650px;
}

.y-660px {
  top: 660px;
  bottom: 660px;
}

.x-660px {
  left: 660px;
  bottom: 660px;
}

.t-660px {
  top: 660px;
}

.r-660px {
  right: 660px;
}

.l-660px {
  left: 660px;
}

.b-660px {
  bottom: 660px;
}

.y-670px {
  top: 670px;
  bottom: 670px;
}

.x-670px {
  left: 670px;
  bottom: 670px;
}

.t-670px {
  top: 670px;
}

.r-670px {
  right: 670px;
}

.l-670px {
  left: 670px;
}

.b-670px {
  bottom: 670px;
}

.y-680px {
  top: 680px;
  bottom: 680px;
}

.x-680px {
  left: 680px;
  bottom: 680px;
}

.t-680px {
  top: 680px;
}

.r-680px {
  right: 680px;
}

.l-680px {
  left: 680px;
}

.b-680px {
  bottom: 680px;
}

.y-690px {
  top: 690px;
  bottom: 690px;
}

.x-690px {
  left: 690px;
  bottom: 690px;
}

.t-690px {
  top: 690px;
}

.r-690px {
  right: 690px;
}

.l-690px {
  left: 690px;
}

.b-690px {
  bottom: 690px;
}

.y-700px {
  top: 700px;
  bottom: 700px;
}

.x-700px {
  left: 700px;
  bottom: 700px;
}

.t-700px {
  top: 700px;
}

.r-700px {
  right: 700px;
}

.l-700px {
  left: 700px;
}

.b-700px {
  bottom: 700px;
}

.y-710px {
  top: 710px;
  bottom: 710px;
}

.x-710px {
  left: 710px;
  bottom: 710px;
}

.t-710px {
  top: 710px;
}

.r-710px {
  right: 710px;
}

.l-710px {
  left: 710px;
}

.b-710px {
  bottom: 710px;
}

.y-720px {
  top: 720px;
  bottom: 720px;
}

.x-720px {
  left: 720px;
  bottom: 720px;
}

.t-720px {
  top: 720px;
}

.r-720px {
  right: 720px;
}

.l-720px {
  left: 720px;
}

.b-720px {
  bottom: 720px;
}

.y-730px {
  top: 730px;
  bottom: 730px;
}

.x-730px {
  left: 730px;
  bottom: 730px;
}

.t-730px {
  top: 730px;
}

.r-730px {
  right: 730px;
}

.l-730px {
  left: 730px;
}

.b-730px {
  bottom: 730px;
}

.y-740px {
  top: 740px;
  bottom: 740px;
}

.x-740px {
  left: 740px;
  bottom: 740px;
}

.t-740px {
  top: 740px;
}

.r-740px {
  right: 740px;
}

.l-740px {
  left: 740px;
}

.b-740px {
  bottom: 740px;
}

.y-750px {
  top: 750px;
  bottom: 750px;
}

.x-750px {
  left: 750px;
  bottom: 750px;
}

.t-750px {
  top: 750px;
}

.r-750px {
  right: 750px;
}

.l-750px {
  left: 750px;
}

.b-750px {
  bottom: 750px;
}

.y-760px {
  top: 760px;
  bottom: 760px;
}

.x-760px {
  left: 760px;
  bottom: 760px;
}

.t-760px {
  top: 760px;
}

.r-760px {
  right: 760px;
}

.l-760px {
  left: 760px;
}

.b-760px {
  bottom: 760px;
}

.y-770px {
  top: 770px;
  bottom: 770px;
}

.x-770px {
  left: 770px;
  bottom: 770px;
}

.t-770px {
  top: 770px;
}

.r-770px {
  right: 770px;
}

.l-770px {
  left: 770px;
}

.b-770px {
  bottom: 770px;
}

.y-780px {
  top: 780px;
  bottom: 780px;
}

.x-780px {
  left: 780px;
  bottom: 780px;
}

.t-780px {
  top: 780px;
}

.r-780px {
  right: 780px;
}

.l-780px {
  left: 780px;
}

.b-780px {
  bottom: 780px;
}

.y-790px {
  top: 790px;
  bottom: 790px;
}

.x-790px {
  left: 790px;
  bottom: 790px;
}

.t-790px {
  top: 790px;
}

.r-790px {
  right: 790px;
}

.l-790px {
  left: 790px;
}

.b-790px {
  bottom: 790px;
}

.y-800px {
  top: 800px;
  bottom: 800px;
}

.x-800px {
  left: 800px;
  bottom: 800px;
}

.t-800px {
  top: 800px;
}

.r-800px {
  right: 800px;
}

.l-800px {
  left: 800px;
}

.b-800px {
  bottom: 800px;
}

.y-810px {
  top: 810px;
  bottom: 810px;
}

.x-810px {
  left: 810px;
  bottom: 810px;
}

.t-810px {
  top: 810px;
}

.r-810px {
  right: 810px;
}

.l-810px {
  left: 810px;
}

.b-810px {
  bottom: 810px;
}

.y-820px {
  top: 820px;
  bottom: 820px;
}

.x-820px {
  left: 820px;
  bottom: 820px;
}

.t-820px {
  top: 820px;
}

.r-820px {
  right: 820px;
}

.l-820px {
  left: 820px;
}

.b-820px {
  bottom: 820px;
}

.y-830px {
  top: 830px;
  bottom: 830px;
}

.x-830px {
  left: 830px;
  bottom: 830px;
}

.t-830px {
  top: 830px;
}

.r-830px {
  right: 830px;
}

.l-830px {
  left: 830px;
}

.b-830px {
  bottom: 830px;
}

.y-840px {
  top: 840px;
  bottom: 840px;
}

.x-840px {
  left: 840px;
  bottom: 840px;
}

.t-840px {
  top: 840px;
}

.r-840px {
  right: 840px;
}

.l-840px {
  left: 840px;
}

.b-840px {
  bottom: 840px;
}

.y-850px {
  top: 850px;
  bottom: 850px;
}

.x-850px {
  left: 850px;
  bottom: 850px;
}

.t-850px {
  top: 850px;
}

.r-850px {
  right: 850px;
}

.l-850px {
  left: 850px;
}

.b-850px {
  bottom: 850px;
}

.y-860px {
  top: 860px;
  bottom: 860px;
}

.x-860px {
  left: 860px;
  bottom: 860px;
}

.t-860px {
  top: 860px;
}

.r-860px {
  right: 860px;
}

.l-860px {
  left: 860px;
}

.b-860px {
  bottom: 860px;
}

.y-870px {
  top: 870px;
  bottom: 870px;
}

.x-870px {
  left: 870px;
  bottom: 870px;
}

.t-870px {
  top: 870px;
}

.r-870px {
  right: 870px;
}

.l-870px {
  left: 870px;
}

.b-870px {
  bottom: 870px;
}

.y-880px {
  top: 880px;
  bottom: 880px;
}

.x-880px {
  left: 880px;
  bottom: 880px;
}

.t-880px {
  top: 880px;
}

.r-880px {
  right: 880px;
}

.l-880px {
  left: 880px;
}

.b-880px {
  bottom: 880px;
}

.y-890px {
  top: 890px;
  bottom: 890px;
}

.x-890px {
  left: 890px;
  bottom: 890px;
}

.t-890px {
  top: 890px;
}

.r-890px {
  right: 890px;
}

.l-890px {
  left: 890px;
}

.b-890px {
  bottom: 890px;
}

.y-900px {
  top: 900px;
  bottom: 900px;
}

.x-900px {
  left: 900px;
  bottom: 900px;
}

.t-900px {
  top: 900px;
}

.r-900px {
  right: 900px;
}

.l-900px {
  left: 900px;
}

.b-900px {
  bottom: 900px;
}

.y-910px {
  top: 910px;
  bottom: 910px;
}

.x-910px {
  left: 910px;
  bottom: 910px;
}

.t-910px {
  top: 910px;
}

.r-910px {
  right: 910px;
}

.l-910px {
  left: 910px;
}

.b-910px {
  bottom: 910px;
}

.y-920px {
  top: 920px;
  bottom: 920px;
}

.x-920px {
  left: 920px;
  bottom: 920px;
}

.t-920px {
  top: 920px;
}

.r-920px {
  right: 920px;
}

.l-920px {
  left: 920px;
}

.b-920px {
  bottom: 920px;
}

.y-930px {
  top: 930px;
  bottom: 930px;
}

.x-930px {
  left: 930px;
  bottom: 930px;
}

.t-930px {
  top: 930px;
}

.r-930px {
  right: 930px;
}

.l-930px {
  left: 930px;
}

.b-930px {
  bottom: 930px;
}

.y-940px {
  top: 940px;
  bottom: 940px;
}

.x-940px {
  left: 940px;
  bottom: 940px;
}

.t-940px {
  top: 940px;
}

.r-940px {
  right: 940px;
}

.l-940px {
  left: 940px;
}

.b-940px {
  bottom: 940px;
}

.y-950px {
  top: 950px;
  bottom: 950px;
}

.x-950px {
  left: 950px;
  bottom: 950px;
}

.t-950px {
  top: 950px;
}

.r-950px {
  right: 950px;
}

.l-950px {
  left: 950px;
}

.b-950px {
  bottom: 950px;
}

.y-960px {
  top: 960px;
  bottom: 960px;
}

.x-960px {
  left: 960px;
  bottom: 960px;
}

.t-960px {
  top: 960px;
}

.r-960px {
  right: 960px;
}

.l-960px {
  left: 960px;
}

.b-960px {
  bottom: 960px;
}

.y-970px {
  top: 970px;
  bottom: 970px;
}

.x-970px {
  left: 970px;
  bottom: 970px;
}

.t-970px {
  top: 970px;
}

.r-970px {
  right: 970px;
}

.l-970px {
  left: 970px;
}

.b-970px {
  bottom: 970px;
}

.y-980px {
  top: 980px;
  bottom: 980px;
}

.x-980px {
  left: 980px;
  bottom: 980px;
}

.t-980px {
  top: 980px;
}

.r-980px {
  right: 980px;
}

.l-980px {
  left: 980px;
}

.b-980px {
  bottom: 980px;
}

.y-990px {
  top: 990px;
  bottom: 990px;
}

.x-990px {
  left: 990px;
  bottom: 990px;
}

.t-990px {
  top: 990px;
}

.r-990px {
  right: 990px;
}

.l-990px {
  left: 990px;
}

.b-990px {
  bottom: 990px;
}

.y-1000px {
  top: 1000px;
  bottom: 1000px;
}

.x-1000px {
  left: 1000px;
  bottom: 1000px;
}

.t-1000px {
  top: 1000px;
}

.r-1000px {
  right: 1000px;
}

.l-1000px {
  left: 1000px;
}

.b-1000px {
  bottom: 1000px;
}
