<h1>WHat Is Peer To Peer(p2p) Network</h1>
<p>In the normal network, server and client</p>
<p>In the BitCoin network, there are no server. All Nodes have same role like a peer</p>
<p>All Nodes provide and consume services</p>
<p>It is a peer to peer network</p>

<h2>P2P Characteristics</h2>
<h3>Resilient</h3>
<p>If One node downs, Any Node in the network can serve service</p>
<h3>Decentralized</h3>
<p>There are no central server witch controls network arbitrarily</p>
<h3>Open</h3>
<p>Net work open, so anyone can access network data.</p>

<h2>Other P2P services</h2>
<h3>Napster</h3>
<p>File Sharing Service</p>
<h3>BitTorrent</h3>

<h2>KeyWords</h2>
<ul>
  <li>BitCoinNetwork: Collection of nodes in the running the BitCoin p2p protocol</li>
</ul>
