<h1>Other Protocols</h1>
<p>Stratum is a protocol which is used for mining and lightweight or mobile wallets</p>

<h2>How they are added to ethe BitCoin Network</h2>
<p>Gate way server accesses the bitcoin network and provide
  these additional network, then extend bitcoin network to nodes running these addtional protocol </p>

<h2>Keyword</h2>
<ul>
  <li>Extended BitCoin Network: Overall Network that includes the bitcoin p2p network, pool-mining protocols,
    the stratum protocol, and any other related protocols.
  </li>
</ul>
