<header class="shadow border-bottom bg-downriver d-flex justify-content-between align-items-center p-20px sticky-top">
    <div class="nav" style="color: white">
        <a routerLink="/">
            <img height="30px"
                 src="../../../assets/code.memo.svg">
        </a>
        <a routerLink="documents">Documents</a>
        <a routerLink="documents/new">New Document</a>
        <a routerLink="documents/draft">Draft</a>
        <a routerLink="categories/new">New Category</a>
        <a routerLink="categories">Categories</a>
    </div>
</header>
