<h1>Introduction: 暗号学</h1>
<p>日本では仮想通貨という言葉がよく使われますが、英語では暗号通貨(CryptoCurrency)という言葉を使います。</p>
<p>ビットコインは暗号技術(Cryptography)に基づいて設計された通貨であり、その技術の至る所に暗号技術が使われています。</p>
<p>そして、暗号技術には大きな三つの役割があります。</p>
<p>一つ目は、まずイメージする通り暗号化(encryption)です。</p>
<p>暗号化技術は、特定のデータを特定の人にしか解読できない形式に変換し秘密にする技術です。</p>
<p>ウェブ上ではクレジットカード情報など秘匿性の高い情報は暗号化され送受信されます。</p>
<p>2つ目は、電子署名(digital signature)です。</p>
<p>電子署名は、ある秘密情報を明かさずに、秘密情報を知っていることを証明する技術です。</p>
<p>あとで詳細を説明しますが、電子署名を用いて、秘密鍵の情報を公開せず、秘密鍵を所有していることを証明することができます。</p>
<p>3つ目は、デジタル指紋(digital fingerprint)です</p>
<p>デジタル指紋はデータの完全性を保証します</p>
<p>デジタル指紋を用いることで、あるデータが不正なデータに書き換えられているかどうかを確認することができます。</p>

<p>暗号通貨という言葉からは真っ先に「暗号化」のイメージが湧くかもしれませんが、実はビットコインで利用されている技術は、電子署名とデジタル指紋です</p>
<p>ビットコインのセキュリティーを守るために「暗号化」は必要なものではありません。</p>

<p>この章では、暗号技術(Cryptography)がビットコインのアドレス・秘密鍵・公開鍵とどう関わっているかを説明します。</p>


<p>Cryptography</p>


<div>
  <h1>What is cryptography</h1>
  <ul>
    <li>Three Roles of cryptography</li>
    <li>Bitcoin doesn't use encryption</li>
  </ul>
</div>
