<h1>暗号技術(Cryptography)とは</h1>
<p>暗号技術には様々な用途で利用されます。</p>
<p>まず一つ目の用途は<b>暗号化(encryption)</b>です。</p>
<p>暗号化は、データを特定の人にしか解読できない形式に変換し<b>秘密にする</b>技術です。</p>
<p>ウェブ上ではクレジットカード情報などは通常、暗号化され送受信されています。</p>
<p>2つ目は、<b>電子署名(digital signature)</b>です。</p>
<p>電子署名は、「ある秘密情報を明かさずに、秘密情報を知っていること」を証明する技術です。</p>
<p>電子署名を用いてることで、秘密鍵(パスワードのようなもの)の情報を公開せず、秘密鍵を所有していることを証明することができます。</p>
<p>3つ目は、<b>デジタル指紋(digital fingerprint)</b>です</p>
<p>デジタル指紋は<b>データの完全性</b>を保証します</p>
<p>デジタル指紋を用いることで、あるデータが不正なデータに書き換えられているかどうかを確認することができます。</p>

<p>暗号通貨という言葉からは真っ先に「暗号化」のイメージが湧くかもしれませんが、実はビットコインで利用されている技術は、電子署名とデジタル指紋です</p>
<p>ビットコインのセキュリティーを守るために「暗号化」は必要なものではありません。</p>


<p>Cryptography</p>
<div>
  <h1>What is cryptography</h1>
  <ul>
    <li>Three Roles of cryptography</li>
    <li>Bitcoin doesn't use encryption</li>
  </ul>
</div>
