<h1>Oveview of digital signature, digital keys, bitcoin address</h1>
<p>ビットコインの所有・移転は暗号鍵、電子署名、アドレスといった要素から成り立っています。</p>
<p>暗号鍵はビットコインネットワーク上に存在しているのではなく, それぞれのウォレットの中に管理されています。</p>
<p>ビットコインの所有権を証明するためには電子署名を生成する必要があるのですが、その電子署名は秘密鍵によってのみ生成することができます。</p>
<p>そのため、秘密鍵を所有している人は誰もがビットコインを所有し自由に送金することが可能となります。</p>



<h1>Digital Key</h1>
<h1>Digital key is public key and private key</h1>

<h1>Public key</h1>
<h1>Public key is pair with private key</h1>
<h1>public key hash is address</h1>

<h1>private Key And signature</h1>

<h1>Oveview of digital signature, digital keys, bitcoin address</h1>

<p>Skip random Number generator</p>
