<h1>ビットコインと公開鍵暗号</h1>

<p>ここで、コース「ブロックチェーンの基本的な仕組み」で説明した、公開鍵暗号と電子署名についておさらいしましょう。</p>

<p>公開鍵暗号は「秘密鍵」と「公開鍵」のペアによって成り立っています。</p>
<p>秘密鍵のデータから公開鍵を計算することができ、公開鍵からは秘密鍵を計算できないような仕組みになっています。</p>
<p>この秘密鍵は銀行口座の暗証番号のようなもので、絶対に他人に知られてはいけません。</p>
<p>一方で、公開鍵は銀行口座の口座番号のようなもので、公開しても問題ない情報です。</p>
<p>ビットコインのアドレスというのは特定の公開鍵に対応していて、アドレス当てビットコインを送金すると、
  アドレスと対応する公開鍵とペアとなる秘密鍵を知る人しかそのビットコインを利用できなくなります。</p>
<p>ここで、秘密鍵の内容を秘密にしたまま秘密鍵を所有していることを証明するのが電子署名です。</p>
<p>電子署名を施すことで「これは間違いなく自分が署名した」ということを示せるとともに、
  そのデータを書き換えることも取り消すこともできなくなります。</p>





<p>ビットコインの所有権を証明するためには電子署名を生成する必要があるのですが、その電子署名は秘密鍵によってのみ生成することができます。</p>
<p>そのため、秘密鍵を所有している人は誰もがビットコインを所有し自由に送金することが可能となります。</p>


<h1>Digital Key</h1>
<h1>Digital key is public key and private key</h1>

<h1>Public key</h1>
<h1>Public key is pair with private key</h1>
<h1>public key hash is address</h1>

<h1>private Key And signature</h1>

<h1>Oveview of digital signature, digital keys, bitcoin address</h1>

<p>Skip random Number generator</p>


<p>memo</p>
<h1>公開鍵と秘密鍵</h1>
<p>ビットコインの暗号技術の一番基本となるのが、暗号鍵(秘密鍵と公開鍵)です。</p>
<p>暗号鍵には秘密鍵と公開鍵という二種類の鍵があります</p>
<p>秘密鍵は銀行口座に例えると銀行口座のパスワードのようなもので、秘密鍵を持っている人は自由にビットコインを送金することができます。</p>
<p>ビットコインの所有権を示すための電子署名は、秘密鍵によって生成されます。この鍵は名前の通り秘密情報となる鍵で、本人以外にこの鍵は公開してはいけません。</p>
<p>対して公開鍵は銀行口座の口座番号のようなもので、ビットコインのアドレスは公開鍵から生成され、そのアドレス当てにビットコインを送金します。</p>
<p>公開鍵は秘密鍵と違って知られても良い情報であす。</p>
<p>また、秘密鍵から生成することができますが、公開鍵から秘密鍵の情報を知ることはできません。</p>


<h1>暗号鍵とは</h1>

<h1>公開鍵とは</h1>
=> 口座番号
<h1>秘密鍵とは</h1>
ぱすわーど
=> 電子署名
=> 公開鍵
