<h1>楕円曲線暗号</h1>
<p>ここで、楕円曲線上の2点に関して、足し算を定義します。</p>
<p>まずある二点(A,B)をとります。</p>
<p>その二点を結んだ直線と楕円曲線との交点をC`とします。</p>
<p>この交点は必ず1つだけとなることが知られています。</p>
<p>楕円曲線はx軸に対して対象なので、楕円曲線上に、C`とx軸について対象な点Cをとることができます。</p>
<p>この時、 A + B = C と定義することができます。</p>


<ul>
  <li>省略事項: mod P, 結合法則, mod P でも同じ計算が成り立つ</li>
  <li>y^2 (mod p) = x^3 + 7 (mod p)</li>
  <li>曲線上の点と点の足し算を定義する</li>
  <li>BIPで定められた定点G</li>
  <li>G + Gの足し算をランダムなk回するとする</li>
  <li>得られた座標Pk(x, y)のそれぞれをつなぎ合わせたものが公開鍵</li>
  <li>kが秘密鍵</li>
  <li>Kを与えられればコンピューターであれば計算は簡単にPkを計算できる。</li>
  <li>Pkが分かっても、kの値が何であったかを知ることはできない。</li>
  <li>足し算をk回するとする</li>
</ul>
