<h1>楕円曲線暗号</h1>
<p>先ほどA + B を結ぶ直線を考えましたが、A + Aの計算の場合は接線を計算することにします。</p>
<p>
  この楕円曲線上の足し算では結合法則が成り立つことが知られており、
  G1 + G2 + .... Gk = KGとすると、G + G + G + Gの計算は、
  G + G + G + G = (G + G) + (G + G) = 2G + 2G = 4Gと計算することができます。
</p>
<p>この計算は、G右図のように求めることができます。</p>

<p>
  実際の楕円曲線暗号では、この計算を y^2 を nで割った余り = x^3 + 7 (mod 7) (n で割った余り)という非連続な関数上で計算を行うのですが、
  この関数上でも同じ考え方で接線を定義でき、同じように楕円曲線上の足し算・掛け算を定義できることが知られています。
</p>

<p>
  ここで、ランダムな数字kをとると、kG(x, y)を計算することは難しいことではありません。
  k回点Gに対する足し算のプロセスを繰り返せば,自然とxとyが求まります。
</p>
<p>しかし、(x, Y)の値を与えられた時、kの値(何回Gの足し算を実行したか)を求めることは不可能です。</p>
<p>kの値を知るには、約10^80通りありうるkを全て試しに計算して見るしか方法がありません。</p>
<p>このkの値を秘密鍵に、x, yの値のペアを公開鍵に対応づけるのが楕円曲線暗号を用いた公開鍵暗号です。</p>

<ul>
  <li>省略事項: mod P, 結合法則, mod P でも同じ計算が成り立つ</li>
  <li>y^2 (mod p) = x^3 + 7 (mod p)</li>
  <li>曲線上の点と点の足し算を定義する</li>
  <li>BIPで定められた定点G</li>
  <li>G + Gの足し算をランダムなk回するとする</li>
  <li>得られた座標Pk(x, y)のそれぞれをつなぎ合わせたものが公開鍵</li>
  <li>kが秘密鍵</li>
  <li>Kを与えられればコンピューターであれば計算は簡単にPkを計算できる。</li>
  <li>Pkが分かっても、kの値が何であったかを知ることはできない。</li>
  <li>足し算をk回するとする</li>
</ul>
