<h1>Base58Check エンコード</h1>

<p>公開鍵ハッシュはRIPMED160ハッシュにより、160bitの数字として計算されます。</p>
<p>160bitの数字は、160桁の0と1で表記される数字(2進数160桁の数字)ですが、人には読みづらいので<b>Base58Check</b>という形式にエンコードして表示します。</p>
<p>ウォレットもアドレス(公開鍵ハッシュ)をBase58Check形式で表示しています。</p>
<p>Base58Checkでは、まず<b>VersionPrefix</b>という4バイトの数字を頭に加えます。</p>
<p>VersionPrefixは、エンコードされる数字が何を表す数字かを示し、公開鍵ハッシュの場合は0x00となります。</p>
<p>次に、数字の後ろに<b>Checksum</b>という4バイトの数字を加えます。</p>
<p>Checksumは入力ミス防止のための数字で、VersionPrefixとエンコードされる公開鍵ハッシュをハッシュ化(SHA256によるダブルハッシュ)した数字の最初の4バイトで計算されます。</p>
<p>この公開鍵ハッシュにVersion PrefixとChecksumを加え、58進数に変換するのがBase58エンコーディングです。</p>
<p>ウォレットから送信先にBase58エンコーディングされたアドレスを入力した場合、
  どこか一つでも打ち間違いをすると、打ち込んだChecksumと計算されるChecksumの値がずれるため、打ち間違いによるビットコインの紛失の防止ができます</p>



<h1>Base58Check エンコード</h1>




<ul>
  <li>公開鍵ハッシュ</li>
  <li>58バイト表示</li>
  <li>バイトプレフィックス</li>
  <li>データとバイトプレフィックスのハッシュ化</li>
  <li>Check sum の付与(頭4バイト)</li>
</ul>
<p>一文字でも間違えると、チェックサムが合わなくなる</p>
