<h1>&lt;i&gt; element is not used for Italic</h1>
<p>In earlier version of the html, &lt;i&gt; element has typographic meanings, but now has semantics</p>
<p>If you want to style italic, you should use font-style: Italic</p>
<p>Be sure the text in question is not actually more appropriate for another element.</p>
  <ul>
    <li>Use &lt;em&gt;toinidicate stress emphasis</li>
    <li>Use &lt;strong&gt;to indicate stronger importance</li>
    <li>Use &lt;mark&gt; to indicate relevance.</li>
    <li>Use &lt;cite&gt; to mark the name of a work, such as a book, play, or song</li>
    <li>Use &lt;dfn&gt; to mark the defining instance of a term.</li>
  </ul>
