<ng-container *ngIf="documents$ | async as documents">
    <div class="mb-50px">
        <h2>全て</h2>
        <div class="d-flex flex-wrap">
            <ng-container *ngFor="let document of documents">
                <div class="panel">
                    <app-admin-document-panel [document]="document"></app-admin-document-panel>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="blogs$ |async as documents">
    <div class="mb-50px">
        <h2>blogs</h2>
        <div class="d-flex flex-wrap">
            <ng-container *ngFor="let document of documents">
                <div class="panel">
                    <app-admin-document-panel [document]="document"></app-admin-document-panel>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="simples$ |async as documents">
    <div class="mb-50px">
        <h2>simple</h2>
        <div class="d-flex flex-wrap">
            <ng-container *ngFor="let document of documents">
                <div class="panel">
                    <app-admin-document-panel [document]="document"></app-admin-document-panel>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
