<h1>ビットコインの構造概要</h1>
<p>この章では、ビットコインの仕組みの全体像を説明します。</p>
<p>ビットコインは大きく以下の構成要素によって成り立っています。</p>
<ul>
  <li>ビットコインの送受信を表すトランザクション</li>
  <li>トランザクションを生成するための鍵とアドレス</li>
  <li>鍵・アドレスを管理するためのウォレット</li>
  <li>トランザクションを生成・伝播するP2Pネットワーク</li>
  <li>トランザクションを集めた単位であるブロック</li>
  <li>ブロックを記録するブロックチェーン</li>
  <lI>ブロックチェーンにブロックを書き込むマイニング</lI>
</ul>


<div>
  <h1>ビットコインの仕組みの全体像を把握し、学習のベースとする</h1>
  <h1>ビットコインの構造の概要を理解する</h1>
  <h1>ビットコインの概要</h1>
  <ul>
    <li>ビットコインの送受信を表すトランザクション</li>
    <li>トランザクションを生成するための鍵とアドレス</li>
    <li>鍵・アドレスを管理するためのウォレット</li>
    <li>トランザクションを生成・伝播するP2Pネットワーク</li>
    <li>トランザクションを集めた単位であるブロック</li>
    <li>ブロックを記録するブロックチェーン</li>
    <lI>ブロックチェーンにブロックを書き込むマイニング</lI>
  </ul>
</div>
