<h1>ビットコイン利用の流れ</h1>
<p>ビットコインの利用事例を紹介します。</p>
<p>この事例を通じて全体像を把握していきましょう。</p>
<h2>事例</h2>
<p>アリスは友人キャロルからビットコインについて聞き、面白そうだと興味を持ちました。</p>
<p>アリスはキャロルからビットコインを少額譲り受けたので、さっそくビットコインに対応したコーヒーショップで利用してみることにしました。</p>
<p>コーヒーショップでコーヒーを注文すると、レジでビットコインの支払いのためのQRコードが表示されます。</p>
<p>このQRコードを読み取り支払いを行うため、アリスは自分のスマートフォンに<b>ウォレット</b>と呼ばれるアプリケーションを活用します。</p>
<p>ウォレットとは、ビットコインを管理するアプリケーションであり、ウォレットを通じて送金したり残高を確認したりできます。</p>
<p>QRコードを読み込むとビットコインの支払い金額、宛先、手数料が表示されます。</p>






<p>キャロル デイヴ エレン</p>

<h1>トランザクションの概要を理解する</h1>
<h2>トランザクショの概要</h2>
<p>ビットコインの一番重要な構成要素</p>
<p>トランザクションを生成し、</p>


<h1>ストーリー</h1>
<p>ウォレットと呼ばれるアプリケーションをインストール</p>
<p>アリスがボブに送金</p>
<p>QRコードを読み取る</p>
<p>金額・ドル換算値・手数料などの表示</p>
<p>送信ボタンを押すことで送信を確定します。</p>
<p>数秒でボブにトランザクションが到着</p>
<p>block explorer p18: middle </p>
