<h1>Bitcoin Transaction</h1>
<p>アリスが表示された金額を確認し、
  送金を確定させると数秒でコーヒーショップのオーナーであるボブのアドレスにビットコインが届きました。
</p>
<p>この送金取引の事を<b>トランザクション</b>と呼びます。</p>
<p>トランザクションとは簡単に言うと、
  ビットコインの所有者が他の人にビットコインを送信したと認めたことをネットワークに伝えることです。</p>
<p>これによりビットコインの所有権がアリスからボブに移動することになります。</p>


<h1>複式簿記 Transaction is like a double book-keeping</h1>
<p>There are a few inputs and a few outputs sent from someone</p>
<p>Input may under the value of your outputs, or over the value of outputs</p>
<p>You should sufficient inputs for outputs</p>
<p>Inputs Identify another inputs</p>
<p>Transaction also need proof of owner ships for each of inputs for spending</p>
<p>In Bitcoin, Spending is signing in the transaction in the form of digital signature</p>
<p>The signature can be validated by anyone.</p>


<p>Outputs</p>
<p>You need a pay check like you pay a paper money.</p>
<p>You Send change to yourself</p>
<p>The remains are fees.</p>
<p>Those fees are paid in return for miner when this transactions are added to block and block are added to
  blockchain.</p>
