<h1>トランザクションの構造</h1>
<p>ここで、トランザクションのデータ構造を見てみましょう</p>
<p>アリスは友人のキャロルから0.0015BTCを貰っていたので、これを利用してビットコインを支払います。</p>
<p>コーヒー代金は0.001BTCだったので、ボブに0.001BTCを支払います</p>
<p>アリスは残りの0.00045BTCを自分へのお釣りとするため、自分宛に0.00045BTCを送金しました。</p>
<p>紙幣で1000円札を支払ってお釣りをもらうように、ビットコインでは貰った0.0015BTCをまとめて支払い、
  余ったお釣りは自分自身への送金という形で表現されます。</p>
<p>この時、支払う金額0.0015BTCを<b>トランザクションインプット</b>、
  ボブへの支払いの0.001BTCとお釣りの0.0045BTCを<b>トランザクションアウトプット</b>と呼びます</p>
<p>ここで、インプットとアウトプットの差を取ると、さらに0.0005BTC分余っています。</p>
<p>この差分の0.0005BTCは、<b>トランザクション手数料</b>となり、
  ビットコインネットワークを検証しているマイナーと呼ばれる人たちに支払われることになります。</p>
<p>手数料はアウトプットではなく、インプットとアウトプットの差分として暗に示されるのです。</p>


<h1>Transaction struction</h1>
<h1>Transaction Chain</h1>


<p>Inputs Referencing another transaction's outputs</p>
<p>Providing Digital signature and prove to the network that she is an owner of bitcoin</p>
<p>Send To bobs address, And then, Bitcoin is locked.</p>
<p>Bob only can provide corresponding signature to unlock the bitcoin.</p>
<p>These Chain of Transaction is illustrated as these.</p>


<h1>Common Transaction Forms</h1>


<ul>
  <li>one inputs, one outputs, one change</li>
  <li>several inputs, one outputs, one change; like to pay coins</li>
  <li>one inputs, several outputs; payroll 給料名簿への支払いなど</li>
</ul>
