<h1>トランザクションのパターン</h1>
<p>トランザクションのインプットは、複数のインプットを持つことも可能です。</p>
<p>例えば、0.1BTCを二度受け取ったことがあるとします。</p>
<p>これで0.15BTCの商品を買いたい場合、二つのインプットを合わせて合計0.2BTCとして支払うことができます。</p>
<p>また、アウトプットを複数にし、0.1BTCを一人に0.5BTC,また別の人に0.4BTC、残りを手数料とお釣りといった形で支払うこともできます。</p>



<h1>Common Transaction Forms</h1>

<p>What wallet contains all logic for creating transactions.</p>
<p>User only needs to specify the address and the amount.</p>
<ul>
  <li>Make a sign</li>
  <li>Make locking script</li>
  <li>Send transaction to the network</li>
</ul>
