<h1>P2Pネットワーク①</h1>
<p>アリスがトランザクションを発行しビットコインをボブに送るためには、
  キャロルからもらったビットコインをネットワーク上から見つける必要があります。</p>
<p>コース「ブロックチェーンの基本的な仕組み」の復習になりますが、このネットワークはP2Pと呼ばれるネットワークでした。</p>
<p>P2Pネットワークに参加している端末一つ一つを<b>ノード(Node)</b>と呼びます。</p>
<p>アリスのウォレットは他の複数のノードに接続されることでネットワークに参加しています。</p>
<p>ノードはネットワーク上から自分宛に送金された未使用のビットコインアウトプットを探します。</p>
<p>この未使用のビットコインアウトプットを<b>UTXO(Unused Transaction Output)</b>と呼びます。</p>
<p>アリスはこのUTXOを参照することで、ボブのアドレス宛にビットコインを送ることができます。</p>


<ul>
  <li>ネットワークが構成されていること</li>
  <li>UTXOを探すこと</li>
</ul>
