<h1>P2Pネットワーク</h1>
<p>され、アリスがボブへ送ったビットコインは数秒でボブに届くことになるのですが、
  ボブがビットコインを受け取るためにはビットコインのネットワークが機能している必要があります。</p>
<p>コース「ブロックチェーンの基本的な仕組み」の復習になりますが、このネットワークはP2Pと呼ばれるネットワークでした。</p>
<p>P2Pネットワークに参加している端末一つ一つを<b>ノード(Node)</b>と呼びます。</p>
<p>まず、アリスはボブにビットコインを送る前に、自分がビットコインを所有している事を知る必要があります。</p>
<p>アリスのウォレットは複数の他のノードに接続されていて、
  他のノードからネットワーク上を伝播しているトランザクション情報を受け取ります。</p>
<p>ネットワーク上から自分が使用できる、自分宛に送金された未使用のビットコインアウトプットを探します。</p>
<p>この未使用のビットコインアウトプットを<b>UTXO(Unused Transaction Output)</b>と呼びます。</p>
<p>アリスはUTXOを参照し、ボブのアドレス宛のトランザクションを生成します。</p>
<p>生成したトランザクションはアリスと繋がっているノードへと送られます。</p>
<p>アリスのトランザクションを受け取ったノードはそのトランザクションが正しいものか検証し、正しければそのノードもまた他のノードへとトランザクションを送信します。</p>
<p>この連鎖によって数秒のうちにほぼ全てのノードにトランザクションが伝播するので、ボブも数秒で自分への送金を確認することができます。</p>





<h1>Retrieve Inputs From Network</h1>

<ul>
  <li>need data of inputs</li>
  <li>Full node has a full history of transactions</li>
  <li>SPV node request to the full node from the API</li>
</ul>

