<h1>P2Pネットワーク：検証と電波</h1>
<p>アリスが生成したトランザクションは、アリスと繋がっているノードへと送られます。</p>
<p>アリスのトランザクションを受け取ったノードはそのトランザクションが正しいものか検証し、正しければそのノードもまた他のノードへとトランザクションを送信します。</p>
<p>この連鎖によって数秒のうちにほぼ全てのノードにトランザクションが伝播するので、ボブも数秒で自分への送金を確認することができます。</p>




<ul>
  <li>送られる</li>
  <li>検証される</li>
  <li>伝播する</li>
  <li>Bobへ届く</li>
</ul>


<h1>Retrieve Inputs From Network</h1>
<ul>
  <li>need data of inputs</li>
  <li>Full node has a full history of transactions</li>
  <li>SPV node request to the full node from the API</li>
</ul>

