<h1>ブロックチェーン</h1>
<p>
  ビットコインネットワーク上を伝播していったトランザクションですが、
  実はこのトランザクションはまだ永続化したデータとはなっていません。
</p>
<p>トランザクションが改ざん不可能な永続化したデータとなるためには、<b>ブロックチェーン</b>と呼ばれるデータベースに取り込まれる必要があります。</p>
<p>このトランザクションをブロックチェーンに含めるプロセスが<b>マイニング</b>です。</p>
<p>マイニングでは、複数のトランザクションを<b>ブロック</b>と呼ばれる一つのまとまりに集め、暗号学的な計算結果とともにブロックをブロックチェーンに記載します。</p>
<p>こうしてブロックがブロックチェーンに取り込まれて初めてトランザクションは改竄が困難な状態になります。</p>


<h1>Retrieve Inputs From Network</h1>

<ul>
  <li>need data of inputs</li>
  <li>Full node has a full history of transactions</li>
  <li>SPV node request to the full node from the API</li>
</ul>

