<h1>ブロックチェーンの承認</h1>
<p>トランザクションがブロックチェーンに取り込まれた状態を<b>「承認(confirm)」</b>と呼びます。</p>
<p>ブロックチェーンの名前の通り、ブロックはチェーン上に連なっていきます。</p>
<p>ブロックが積み重なるごとにその度に暗号は強固なものになり、改竄が難しくなっていきます。</p>
<p>ブロックが1つ含まれるごとに承認の数が1加算され、承認が6になったら事実上改竄が不可能になったと考えられます。</p>
<p>このブロックの追加はおおよそ10分に1度の頻度で行われるように調整されています。</p>
<p>ただし、コーヒーの支払いのような少額決済であれば、利便性を考え必ずしも確認を待つ必要はありません。</p>
<p>これはちょうどクレジットカードで少額の決済であれば署名を確認せずに支払いを受け付けるのと同じ事だと言えます。</p>


<h1>Retrieve Inputs From Network</h1>

<ul>
  <li>need data of inputs</li>
  <li>Full node has a full history of transactions</li>
  <li>SPV node request to the full node from the API</li>
</ul>

