<h1>マイニング</h1>
<p><b>マイナー</b>と呼ばれる人たちは、<b>マイニング</b>というプロセスによってブロックチェーンにブロックを追加していきます。</p>
<p>コース「ブロックチェーンの基本的な仕組み」でも触れましたが、マイニングは正しいハッシュ値を計算するプロセスです。</p>
<p>マイナーは<b>NONCE</b>と呼ばれるランダムの数字とトランザクションデータと前のブロックのハッシュ値からハッシュ値を計算し、正しいハッシュ値が出るまでひたすらNONCEを計算し続けます。</p>
<p>マイナーが正しいハッシュ値を生み出すナンスを見つけ、マイニングに成功すると、トランザクションの手数料と一定額のビットコインが報酬としてマイナーに支払われることになります。</p>
<p>マイナー達はこの報酬目当てで競って一番最初にナンスを見つけようと莫大な電気代を投資して計算競争をしているのです。</p>
<p>マイニングされたブロックがネットワーク上を伝播すると、
  ブロックは各ノードによって検証されながら伝播していきます。</p>
<p>正しいブロックを受け取ったマイナー達は次のマイニングのためにトランザクションを集め、
  また別のマイニング競争を始めることになります。</p>
