<h1>Mining and Consensus</h1>
<h2>goal of mining</h2>
<ul>
  <li>prevent double spending</li>
  <li>invalid transaction => how</li>
  <li>Motivation of miner nad cost of mining, nad role of mining</li>
</ul>
<h1>How Mining Work</h1>
<p>Validate transactions</p>
<p>Calculate hash: proof of work: base of security</p>
<p>Add to blockchain: transaction gets confirmed => then new owner can spend the bitcoin</p>
<p>Next hash calculation race</p>
<p>Miner get two types of rewards</p>
<p>sum of Transaction fees</p>
<p>Coinbase transaction: special transaction which is no input and output to minner. new bitcoin will be issued</p>
<p>Mining achieves decentralized emergent consensus</p>

<h2>Reward of transaction</h2>
<p>half as time passes / when 210,000Block generated (about once per 4 years).</p>
<p>Now, 12.5BTC: 50BTC in 2009; 2016: 12.5btc; 2040 all bitcoin will be issued</p>
<p>When all bitcoin issued, transaction fees are main incentive.</p>
<P>A fewer Miner and less difficulty and less fees or high bitcoin value</P>
<p>Now, percentage of fees are 0.5% of rewards</p>
<h1>Agenda</h1>
<ol>
  <li>Introduction</li>
</ol>
