<h1>Decentralized Consensus</h1>
<p>Central authority clearing</p>
<p>Blockchain, nocentral authority, and nodes may receive invalid transactions,
  but eventually every node has the same authoritative blockchain data</p>
<h2>Emergent Consensus</h2>
<p>Selection is synchronized consensus, determined at some time.</p>
<p>Emergent Consensus is async</p>

<h2>emergent consensus is made of four of these rules</h2>
<ul>
  <li>Independent transaction validation</li>
  <li>Independent transaction accumulation</li>
  <li>Independent new block validation and addition to blockchain</li>
  <li>Independent selection of blockchain</li>
</ul>
