<h1>分散化コンセンサス</h1>
<p>従来の取引システムでは中央管理組織が取引を検証し、決済を実行します。</p>
<p>一方、ブロックチェーンでは中央管理組織が存在せず、すべてのノードがトランザクションを検証します。</p>
<p>ネットワークから不正なトランザクションデータを受け取る可能性がありますが、
  最終的にはすべてのノードが同じ正しいブロックチェーンのデータを保持することになります。</p>
<p>この分散したコンセンサスの仕組みがsathoshi nakamotoの主要な発明であり、中央権力や信用に依存しないセキュリティーモデルを可能にしました。</p>
<p>この分散化コンセンサスの仕組みは,　ネットワーク上のノードがそれぞれ、
  大きく分けて以下の４つのプロセスを実行した相互作用として成り立ちます。</p>
<ul>
  <li>トランザクションの検証</li>
  <li>ランザクションの集積</li>
  <li>ブロックの検証とブロックチェーンへの埋め込み</li>
  <li>ブロックチェーンの選択</li>
</ul>
<p>以降のページでそれぞれについて解説していきます。</p>

<p>Central authority clearing</p>
<p>Blockchain, nocentral authority, and nodes may receive invalid transactions,
  but eventually every node has the same authoritative blockchain data</p>
<h2>Emergent Consensus</h2>
<p>Selection is synchronized consensus, determined at some time.</p>
<p>Emergent Consensus is async</p>

<h2>emergent consensus is made of four of these rules</h2>
<ul>
  <li>Independent transaction validation</li>
  <li>Independent transaction accumulation</li>
  <li>Independent new block validation and addition to blockchain</li>
  <li>Independent selection of blockchain</li>
</ul>
