<h1>Coin base transaction</h1>
<p>First transaction included in candidate block is coinbase transaction</p>
<p>Coinbase transaction is a special transaction minner added for the reward of minning</p>
<p>Coinbase transaction has an output value of 12.5btc(issue of btc) + sum of fees of transactions</p>
<p>Coinbase transaction has no utxo, and generate btc.</p>
<p>The recipient address of coinbase of transaction is minner</p>
<p>If minner succeed in minning, minner get those rewards as the fee of validation of blockchain</p>
<p></p>
