<h1>ブロックヘッダー</h1>
<p>各ブロックには<b>ブロックヘッダー</b>呼ばれるヘッダー情報が含まれています</p>
<p>ブロックヘッダーの内容は以下の通りです</p>
<ul>
  <li>Version</li>
  <li>Merkle Root</li>
  <li>Previous Block Hash</li>
  <li>Timestamp</li>
  <li>Difficulty Target</li>
  <li>Nonce</li>
</ul>

<h1>BlockHeader</h1>
<h2>Contents Of Block Header</h2>
<ul>
  <li>Version</li>
  <li>Merkle Root</li>
  <li>Previous Block Hash</li>
  <li>Timestamp</li>
  <li>Difficulty Target</li>
  <li>Nonce</li>
</ul>

<p>Current Difficulty</p>
<p>Current hashing power 15京/s 100ペタハッシュ/s</p>
